@charset "CP850";
/* @license
 * MyFonts Webfont Build ID 2691856, 2013-11-19T17:25:12-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Samantha Upright PRO by Laura Worthington
 * URL: http://www.myfonts.com/fonts/laura-worthington/samantha-upright-script/pro/
 * Copyright: Copyright (c) 2011 by Laura Worthington. All rights reserved.
 * 
 * Webfont: Samantha Upright PRO Bold by Laura Worthington
 * URL: http://www.myfonts.com/fonts/laura-worthington/samantha-upright-script/samantha-upright-pro-bold/
 * Copyright: Copyright (c) 2012 by Laura Worthington. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2691856
 * Licensed pageviews: 200,000
 * 
 * Â© 2013 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("http://hello.myfonts.net/count/291310");
@font-face {
  font-family: 'montserratregular';
  src: url("http://media.nestle.ca/bi2/mobile/fonts/montserrat-regular-webfont.eot");
  src: url("http://media.nestle.ca/bi2/mobile/fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://media.nestle.ca/bi2/mobile/fonts/montserrat-regular-webfont.woff") format("woff"), url("http://media.nestle.ca/bi2/mobile/fonts/montserrat-regular-webfont.ttf") format("truetype"), url("http://media.nestle.ca/bi2/mobile/fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tegak_bersambung_iwkregular';
  src: url("http://media.nestle.ca/bi2/mobile/fonts/tegak_bersambung_iwk-webfont.eot");
  src: url("http://media.nestle.ca/bi2/mobile/fonts/tegak_bersambung_iwk-webfont.eot?#iefix") format("embedded-opentype"), url("http://media.nestle.ca/bi2/mobile/fonts/tegak_bersambung_iwk-webfont.woff") format("woff"), url("http://media.nestle.ca/bi2/mobile/fonts/tegak_bersambung_iwk-webfont.ttf") format("truetype"), url("http://media.nestle.ca/bi2/mobile/fonts/tegak_bersambung_iwk-webfont.svg#tegak_bersambung_iwkregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neuzeit_groteskregular';
  src: url("http://media.nestle.ca/bi2/mobile/fonts/neuzeitgro-reg-webfont.eot");
  src: url("http://media.nestle.ca/bi2/mobile/fonts/neuzeitgro-reg-webfont.eot?#iefix") format("embedded-opentype"), url("http://media.nestle.ca/bi2/mobile/fonts/neuzeitgro-reg-webfont.woff") format("woff"), url("http://media.nestle.ca/bi2/mobile/fonts/neuzeitgro-reg-webfont.ttf") format("truetype"), url("http://media.nestle.ca/bi2/mobile/fonts/neuzeitgro-reg-webfont.svg#neuzeit_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 93, ../scss/custom.scss */
p {
  margin-bottom: 0;
}

/* line 95, ../scss/custom.scss */
.copy-padding {
  padding-bottom: 75px !important;
  padding-top: 20px !important;
}

/* line 96, ../scss/custom.scss */
.copy-padding-lg {
  padding-bottom: 90px !important;
  padding-top: 40px !important;
}

/* line 97, ../scss/custom.scss */
.center-txt {
  text-align: center;
}

/* line 98, ../scss/custom.scss */
dialog, .reveal-modal {
  position: fixed;
}

/* line 99, ../scss/custom.scss */
.abs {
  position: absolute;
}

/* line 100, ../scss/custom.scss */
sup {
  position: relative;
  top: -5px;
  vertical-align: baseline;
}

/* line 102, ../scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

/* line 113, ../scss/custom.scss */
.scene2-bg-colour {
  background-color: #50929a;
}

/* line 114, ../scss/custom.scss */
.scene3-bg-colour {
  background-color: #508b3b;
}

/* line 115, ../scss/custom.scss */
.scene4-bg-colour {
  background-color: #d89f3e;
}

/* line 116, ../scss/custom.scss */
.scene5-bg-colour {
  background-color: #1e88d3;
}

/* line 117, ../scss/custom.scss */
.scene6-bg-colour {
  background-color: #1e88d3;
}

/* line 118, ../scss/custom.scss */
.footer-bg-colour {
  background-color: #005baa;
}

/* line 120, ../scss/custom.scss */
.white {
  color: White !important;
}

/* line 121, ../scss/custom.scss */
.pink {
  color: #f3b6ed;
}

/* line 123, ../scss/custom.scss */
.no-padding {
  padding: 0 !important;
}

/* line 144, ../scss/custom.scss */
.btn-style {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  top: -15px;
}

/* line 167, ../scss/custom.scss */
.golden-btn {
  height: 30px;
  background: #a76d0a;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.golden-btn:hover {
  color: White;
}

/* line 176, ../scss/custom.scss */
.btn-sc2 {
  height: 30px;
  background: #2e5458;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.btn-sc2:hover {
  color: White;
}

/* line 185, ../scss/custom.scss */
.btn-sc3 {
  height: 30px;
  background: #3f712e;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.btn-sc3:hover {
  color: White;
}

/* line 194, ../scss/custom.scss */
.btn-sc4 {
  height: 30px;
  background: #a7741d;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.btn-sc4:hover {
  color: White;
}

/* line 203, ../scss/custom.scss */
.btn-sc5 {
  height: 30px;
  background: #156691;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.btn-sc5:hover {
  color: White;
}

/* line 212, ../scss/custom.scss */
.btn-sc6 {
  height: 30px;
  background: #2c539d;
  color: white;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  margin: 10px auto 0;
  padding: 8px 15px 6px;
}
/* line 160, ../scss/custom.scss */
.btn-sc6:hover {
  color: White;
}

/* line 222, ../scss/custom.scss */
.pink-btn {
  height: 30px;
  background: #b062a8;
  color: #ffd0fa;
  font-family: 'neuzeit_groteskregular';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  display: block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  width: 120px;
  padding: 8px 15px 6px;
}
/* line 227, ../scss/custom.scss */
.pink-btn:hover {
  color: #ffd0fa;
}

/* line 235, ../scss/custom.scss */
.samantha {
  font-family: 'SamanthaUprightPRO';
}

/* line 251, ../scss/custom.scss */
.headline {
  max-width: 67%;
  margin: 0 auto;
  display: block;
}

/* line 258, ../scss/custom.scss */
.headline.scene1 {
  max-width: 72%;
}

/* line 263, ../scss/custom.scss */
.headline.scene2 {
  max-width: 66%;
}

/* line 267, ../scss/custom.scss */
.headline.scene3 {
  max-width: 70.5%;
}

/* line 271, ../scss/custom.scss */
.headline.scene4 {
  max-width: 69%;
}

/* line 275, ../scss/custom.scss */
.headline.scene5 {
  max-width: 70%;
}

/* line 279, ../scss/custom.scss */
.headline.scene6 {
  max-width: 77.5%;
}

/* line 283, ../scss/custom.scss */
.headline.scene7 {
  max-width: 75%;
  margin: 20px 0;
}

/* line 290, ../scss/custom.scss */
.legal {
  text-align: center;
}

/* line 295, ../scss/custom.scss */
.legal-s3 {
  display: block;
  color: #81a277;
  font-size: 11px;
  line-height: 14px;
  padding: 30px;
}

/* line 305, ../scss/custom.scss */
.legal-s4 {
  display: block;
  color: #f7e1bb;
  font-size: 11px;
  line-height: 10px;
  padding: 30px;
}

/* line 314, ../scss/custom.scss */
.legal-s5 {
  display: block;
  color: #bcdcf3;
  font-size: 11px;
  line-height: 14px;
  padding: 15px;
}

/* line 327, ../scss/custom.scss */
#section1 p {
  font-size: 18px;
  line-height: 26px;
  color: #925e9d;
  font-family: 'montserratregular';
  position: relative;
  text-align: left;
}

/* line 338, ../scss/custom.scss */
#Scene1Bg {
  height: 959px;
  background-image: url("http://media.nestle.ca/bi2/mobile/en/ipad/retina/scene1-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 346, ../scss/custom.scss */
#scene1_video_bg {
  height: 959px;
  background-image: url("http://media.nestle.ca/bi2/mobile/en/ipad/retina/scene1-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 354, ../scss/custom.scss */
#MomAndCrib {
  max-width: 644px;
  float: right;
  margin-right: 25px;
  position: relative;
  top: -10px;
  z-index: 0;
}

/* line 364, ../scss/custom.scss */
#WelcomeTo {
  font-size: 70px;
  line-height: 80px;
  color: #AF70BB;
  text-align: center;
  position: relative;
  top: -10px;
}

/* line 374, ../scss/custom.scss */
#WOF {
  font-size: 126px;
  line-height: 100px;
  color: #841095;
  text-align: center;
  position: relative;
  top: -18px;
}

/* line 384, ../scss/custom.scss */
#BreastIsBest {
  width: 428px;
  margin: 0 auto;
}
/* line 389, ../scss/custom.scss */
#BreastIsBest img {
  position: relative;
  top: -10px;
}

/* line 396, ../scss/custom.scss */
#copy_container {
  clear: both;
}

/* line 401, ../scss/custom.scss */
#Scene1Copy {
  width: 265px;
  position: absolute;
  margin: 30px;
}
/* line 407, ../scss/custom.scss */
#Scene1Copy p:last-child {
  margin-top: 5px;
}

/* line 413, ../scss/custom.scss */
#listen_to_the_story {
  max-width: 200px;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

/* line 421, ../scss/custom.scss */
#s1-title {
  width: 100%;
  text-align: left;
  margin-top: 125px;
  left: 0;
  position: relative;
}

/* line 431, ../scss/custom.scss */
#s2-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 64px;
  color: #b4e4e9;
  font-weight: normal;
  clear: both;
  line-height: 44px;
  padding: 0 0 15px;
  margin: 0;
  text-shadow: -1px 2px 5px rgba(7, 7, 7, 0.44);
  letter-spacing: .01em;
  text-align: center;
  margin-top: 15px;
}

/* line 450, ../scss/custom.scss */
#section2 p {
  color: #b4e4e9;
  font-size: 18px;
  line-height: 22px;
  margin-left: 6%;
  padding: 0;
  font-family: 'montserratregular';
  text-align: center;
  margin-right: 6%;
}

/* line 463, ../scss/custom.scss */
#s3-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 58px;
  color: #c2e5b5;
  font-weight: normal;
  clear: both;
  line-height: 52px;
  margin: 0;
  padding: 0;
  text-shadow: -1px 2px 5px rgba(7, 7, 7, 0.44);
  text-align: center;
}

/* line 480, ../scss/custom.scss */
#section3 p {
  color: #c2e5b5;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'montserratregular';
  text-align: center;
}

/* line 494, ../scss/custom.scss */
#s4-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 58px;
  color: #e9cb99;
  font-weight: normal;
  clear: both;
  line-height: 55px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: -1px 2px 5px rgba(7, 7, 7, 0.44);
}

/* line 511, ../scss/custom.scss */
#section4 p {
  color: #e9cb99;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'montserratregular';
  text-align: center;
}

/* line 525, ../scss/custom.scss */
#s5-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 69px;
  color: #bcdcf3;
  font-weight: normal;
  clear: both;
  line-height: 65px;
  padding: 15px 0;
  margin: 0;
  letter-spacing: -.02em;
  text-align: center;
}

/* line 542, ../scss/custom.scss */
#section5 p {
  color: #bcdcf3;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'montserratregular';
  text-align: center;
}

/* line 556, ../scss/custom.scss */
#s6-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 69px;
  color: #bcdcf3;
  font-weight: normal;
  clear: both;
  line-height: 65px;
  padding: 15px 0;
  margin: 0;
  text-shadow: -1px 2px 5px rgba(7, 7, 7, 0.44);
  letter-spacing: -.02em;
  text-align: center;
}

/* line 573, ../scss/custom.scss */
#section6 p {
  color: #bcdcf3;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'montserratregular';
  text-align: center;
}

/* line 588, ../scss/custom.scss */
#products_background {
  height: 914px;
  background-image: url("http://media.nestle.ca/bi2/mobile/en/ipad/retina/products-background@x2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 596, ../scss/custom.scss */
.product_headline {
  font-size: 54px;
  color: #945e0b;
  position: relative;
  text-align: center;
}

/* line 604, ../scss/custom.scss */
#pink_background {
  height: 735px;
  background-image: url("http://media.nestle.ca/bi2/mobile/en/ipad/retina/pink-background@x2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 612, ../scss/custom.scss */
#s7_Wrapper {
  margin-left: 60px;
  margin-top: 55px;
}

/* line 617, ../scss/custom.scss */
#s7-titleTxt {
  font-family: 'SamanthaUprightPRO';
  font-size: 83px;
  color: #A75D9F;
  font-weight: normal;
  clear: both;
  line-height: 75px;
  padding: 5px 0;
  margin: 0;
  letter-spacing: -.02em;
  text-align: left;
}

/* line 633, ../scss/custom.scss */
#section7 p {
  color: #ddffd1;
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
  color: #FFEBFD;
  padding: 0;
  float: left;
  font-family: 'neuzeit_groteskregular';
  text-align: left;
  position: absolute;
  width: 290px;
}

/* line 649, ../scss/custom.scss */
#footer {
  color: #b1d3f2;
  height: 170px;
}
/* line 654, ../scss/custom.scss */
#footer .copyright {
  font-size: 12px;
}
/* line 659, ../scss/custom.scss */
#footer #copyright_iphone {
  text-align: center;
  padding: 8px 0;
}
/* line 665, ../scss/custom.scss */
#footer #footer_links {
  text-align: right;
  margin-right: 10px;
  width: 450px;
  float: right;
}
/* line 673, ../scss/custom.scss */
#footer #copyright_ipad {
  float: left;
  bottom: -65px;
  position: relative;
  margin-left: 10px;
}
/* line 682, ../scss/custom.scss */
#footer #footer_logo {
  float: right;
  position: relative;
  bottom: -40px;
  max-width: 425px;
}
/* line 690, ../scss/custom.scss */
#footer ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 20px 0 10px;
}
/* line 702, ../scss/custom.scss */
#footer li {
  margin: 0;
  padding: 0 0 0 5px;
  display: inline;
}
/* line 709, ../scss/custom.scss */
#footer li a {
  margin-right: 6px;
  font-size: 12px;
  color: #b1d3f2;
}
/* line 715, ../scss/custom.scss */
#footer li a:hover {
  text-decoration: underline;
}

/* line 723, ../scss/custom.scss */
#save130 {
  float: right;
  margin-right: 35px;
  max-width: 603px;
}

/* line 735, ../scss/custom.scss */
#header {
  height: 50px;
  background-image: url("http://media.nestle.ca/bi2/mobile/en/ribbon/ipad/ribbon@x1.jpg");
  background-repeat: repeat-x;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 10px;
}

/* line 747, ../scss/custom.scss */
#top_fill {
  background-color: #F5DBF7;
  height: 15px;
  width: 100%;
  margin-top: -15px;
}

/* line 755, ../scss/custom.scss */
#LogoContainer {
  width: 220px;
  margin: 0 auto;
  height: 45px;
  overflow: visible;
}
/* line 762, ../scss/custom.scss */
#LogoContainer #logo {
  max-width: 220px;
  position: absolute;
  top: -8px;
}

/* line 770, ../scss/custom.scss */
#callout130 {
  font-family: 'neuzeit_groteskregular';
  color: #ffe1fd;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  width: 67px;
  top: 4px;
  position: relative;
}
/* line 781, ../scss/custom.scss */
#callout130 sup {
  font-size: 7px;
}

/* line 787, ../scss/custom.scss */
.left-arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/* line 794, ../scss/custom.scss */
#nav_callouts {
  font-family: 'montserratregular';
  position: relative;
  top: 115px;
  z-index: 0;
  padding-bottom: 50px;
}

/* line 805, ../scss/custom.scss */
#nav_callouts a {
  color: #984894;
}

/* line 813, ../scss/custom.scss */
.accordion dd:first-child {
  border-top: 1px solid #c789c4;
}

/* line 818, ../scss/custom.scss */
.accordion dd {
  border-bottom: 1px solid #c789c4;
}

/* line 824, ../scss/custom.scss */
.accordion .content {
  padding: 0;
}

/* line 829, ../scss/custom.scss */
#panel1 {
  background-color: #5D115A;
  font-size: 1.1rem;
}

/* line 859, ../scss/custom.scss */
ul.inner_nav {
  margin: 0;
  font-family: 'montserratregular';
}
/* line 867, ../scss/custom.scss */
ul.inner_nav li:first-child {
  border-top: 1px solid #c789c4;
}
/* line 873, ../scss/custom.scss */
ul.inner_nav li.ui-icon-arrow {
  background: url("http://media.nestle.ca/bi2/mobile/en/generic/arrow@x1.png") no-repeat 12px;
  height: 40px;
  background-color: #5D115A;
  border-bottom: 1px solid #c789c4;
}
/* line 837, ../scss/custom.scss */
ul.inner_nav li.ui-icon-arrow:last-child {
  border-bottom: none;
}
/* line 842, ../scss/custom.scss */
ul.inner_nav li.ui-icon-arrow a {
  top: 0px;
  position: relative;
  color: #c585c1;
  display: block;
  padding-left: 27px;
}
/* line 882, ../scss/custom.scss */
ul.inner_nav li.ui-icon-fb {
  background: url("http://media.nestle.ca/bi2/mobile/en/generic/fb_25.jpg") no-repeat 12px;
  height: 40px;
  background-color: #5D115A;
  border-bottom: 1px solid #c789c4;
}
/* line 837, ../scss/custom.scss */
ul.inner_nav li.ui-icon-fb:last-child {
  border-bottom: none;
}
/* line 842, ../scss/custom.scss */
ul.inner_nav li.ui-icon-fb a {
  top: -1px;
  position: relative;
  color: #c585c1;
  display: block;
  padding-left: 33px;
}
/* line 891, ../scss/custom.scss */
ul.inner_nav li.ui-icon-tw {
  background: url("http://media.nestle.ca/bi2/mobile/en/generic/tw_25.jpg") no-repeat 12px;
  height: 40px;
  background-color: #5D115A;
  border-bottom: 1px solid #c789c4;
}
/* line 837, ../scss/custom.scss */
ul.inner_nav li.ui-icon-tw:last-child {
  border-bottom: none;
}
/* line 842, ../scss/custom.scss */
ul.inner_nav li.ui-icon-tw a {
  top: -1px;
  position: relative;
  color: #c585c1;
  display: block;
  padding-left: 33px;
}
/* line 901, ../scss/custom.scss */
ul.inner_nav li {
  background-color: #5D115A;
  padding: 0.5rem;
}
/* line 908, ../scss/custom.scss */
ul.inner_nav a {
  background-color: transparent;
}

/* line 915, ../scss/custom.scss */
.accordion dd.active a {
  color: White;
}

/* line 920, ../scss/custom.scss */
.accordion dd.active > a:hover {
  background-color: #9D5A9A;
}

/* line 934, ../scss/custom.scss */
ul.inline-list.nav {
  margin-left: -1.075rem;
}

/* line 939, ../scss/custom.scss */
ul.inline-list.right-nav li {
  margin-left: 0rem;
}

/* line 945, ../scss/custom.scss */
ul.nav li {
  margin: 8px 3px 0 5px;
}
/* line 947, ../scss/custom.scss */
ul.nav li:first-child {
  margin-left: 1.9rem;
}

/* line 957, ../scss/custom.scss */
.nav-icon {
  max-width: 28px;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: -4px;
  top: 0px;
}

/* line 967, ../scss/custom.scss */
#nav_right a img {
  max-width: 28px;
  padding: 0px;
  margin: 8px;
  margin-top: 3px;
  position: relative;
  left: 3px;
  top: 5px;
}

/* line 979, ../scss/custom.scss */
#watch_video_img_left {
  display: block;
  max-width: 120px;
  margin-top: 4px;
  margin-left: 90px;
  margin-right: auto;
}

/* line 988, ../scss/custom.scss */
#watch_video_img_mid {
  display: block;
  max-width: 163px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

/* line 997, ../scss/custom.scss */
#watch_video_img_right {
  display: block;
  max-width: 122px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: 90px;
}

/* line 1005, ../scss/custom.scss */
#watch_video_p {
  color: #984894;
  width: 119px;
  line-height: 18px;
  text-align: left;
}

/* line 1013, ../scss/custom.scss */
#gsd_p {
  color: #984894;
  width: 148px;
  line-height: 18px;
  text-align: left;
}

/* line 1021, ../scss/custom.scss */
#gsd_img {
  float: left;
  max-width: 28px;
  margin-right: 10px;
  margin-left: 13px;
  margin-top: 4px;
}

/* line 1035, ../scss/custom.scss */
div#slider img:first-child:not(#swipe_icon) {
  margin: 60px auto 0 auto;
  display: block;
}

/* line 1041, ../scss/custom.scss */
.slide-caption {
  font-family: 'neuzeit_groteskregular';
}

/* line 1046, ../scss/custom.scss */
span.slide-caption {
  display: block;
  color: #f9debb;
  font-size: 10px;
  line-height: 12px;
  font-family: 'neuzeit_groteskregular';
  text-align: center;
}

/* line 1056, ../scss/custom.scss */
p.slide-caption {
  color: #fff0dd;
  margin: 10px 3% 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  text-shadow: 0px 1px 1px #a36d17;
}

/* line 1068, ../scss/custom.scss */
h5.slide-caption {
  color: #fff0dd;
  padding: 0;
  font-size: 28px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  text-shadow: 0px 1px 1px #a36d17;
}

/* line 1079, ../scss/custom.scss */
#bullets2 {
  margin-top: 1rem;
}

/* line 1084, ../scss/custom.scss */
.bullet-list {
  list-style-type: none;
  width: 256px;
  margin: 0 auto;
}

/* line 1091, ../scss/custom.scss */
.bullet-list li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #9D660B;
  margin: 0 18px;
  cursor: pointer;
}

/* line 1102, ../scss/custom.scss */
.bullet-list li.on {
  box-shadow: 2px 2px 0px #aa7532, 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #1293dc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe5ae), color-stop(100%, #ffe5ae));
  background-image: -webkit-linear-gradient(top, #ffe5ae, #ffe5ae);
  background-image: -moz-linear-gradient(top, #ffe5ae, #ffe5ae);
  background-image: -ms-linear-gradient(top, #ffe5ae, #ffe5ae);
  background-image: -o-linear-gradient(top, #ffe5ae, #ffe5ae);
  background-image: linear-gradient(top, #ffe5ae, #ffe5ae);
}

/* line 1113, ../scss/custom.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

/* line 1118, ../scss/custom.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

/* line 1122, ../scss/custom.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* line 1129, ../scss/custom.scss */
.headline.product1 {
  max-width: 66%;
}

/* line 1133, ../scss/custom.scss */
.headline.product2 {
  max-width: 47%;
}

/* line 1137, ../scss/custom.scss */
.headline.product3 {
  max-width: 80%;
}

/* line 1141, ../scss/custom.scss */
.headline.product4 {
  max-width: 33%;
}

/* line 1145, ../scss/custom.scss */
.headline.product5 {
  max-width: 95%;
}

/* line 1160, ../scss/custom.scss */
#slider_product1 {
  left: 115px;
  margin-top: 60px;
  max-width: 445px;
  position: relative;
  z-index: -1;
  top: 0px;
}

/* line 1168, ../scss/custom.scss */
#slider_product2 {
  margin: 60px auto 0 auto;
  max-width: 445px;
  position: relative;
  z-index: -1;
  top: 0px;
}

/* line 1175, ../scss/custom.scss */
#slider_product3 {
  margin: 60px auto 0 auto;
  max-width: 445px;
  position: relative;
  z-index: -1;
  top: 0px;
}

/* line 1182, ../scss/custom.scss */
#slider_product4 {
  margin: 60px auto 0 auto;
  max-width: 445px;
  position: relative;
  z-index: -1;
  top: 0px;
}

/* line 1188, ../scss/custom.scss */
#slider_product5 {
  margin: 60px auto 0 auto;
  max-width: 445px;
  position: relative;
  z-index: -1;
  top: 0px;
}

/* line 1195, ../scss/custom.scss */
#swipe_icon {
  position: fixed;
  width: 240px;
  margin-left: 33%;
  top: 27px;
}

/* line 1209, ../scss/custom.scss */
#scene1_margin {
  margin-top: 85px;
  margin-bottom: 5px;
}

/* line 1215, ../scss/custom.scss */
#Discover {
  font-size: 70px;
  line-height: 80px;
  color: #AF70BB;
  text-align: center;
  position: relative;
  top: -10px;
}

/* line 1227, ../scss/custom.scss */
#WOF_anchor {
  max-width: 233px;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  /* line 1241, ../scss/custom.scss */
  .small-6 {
    width: 100%;
  }

  /* line 1246, ../scss/custom.scss */
  p {
    text-shadow: none !important;
  }

  /* line 1250, ../scss/custom.scss */
  .copy-padding {
    padding-bottom: 35px !important;
    padding-top: 10px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  /* line 1258, ../scss/custom.scss */
  .legal-s3 {
    padding: 15px;
    padding-top: 5px;
  }

  /* line 1264, ../scss/custom.scss */
  .legal-s4 {
    padding: 15px;
    padding-bottom: 8px;
  }

  /* line 1277, ../scss/custom.scss */
  .nav-icon {
    max-width: 23px;
    padding: 0px;
    margin: 3px;
    position: relative;
    left: -4px;
    top: 3px;
  }

  /* line 1287, ../scss/custom.scss */
  #LogoContainer {
    width: 320px;
  }

  /* line 1292, ../scss/custom.scss */
  #LogoContainer #logo {
    top: -4px;
    max-width: 128px;
    display: block;
    margin: 0 93px;
  }

  /* line 1300, ../scss/custom.scss */
  #header {
    height: 35px;
    background-image: url("http://media.nestle.ca/bi2/mobile/en/ribbon/iphone/ribbon@x1.jpg");
  }

  /* line 1307, ../scss/custom.scss */
  #nav_callouts {
    font-family: 'montserratregular';
    position: relative;
    top: 75px;
    z-index: 0;
    padding-bottom: 0px;
  }

  /* line 1315, ../scss/custom.scss */
  ul.inline-list.nav {
    margin-left: -1.375rem;
  }

  /* line 1320, ../scss/custom.scss */
  ul.nav li {
    margin: 0;
  }
  /* line 1322, ../scss/custom.scss */
  ul.nav li:first-child {
    margin-left: 1.9rem;
  }

  /* line 1332, ../scss/custom.scss */
  .headline.scene1 {
    max-width: 74%;
  }

  /* line 1336, ../scss/custom.scss */
  #s1-title {
    margin-top: 115px;
    margin-bottom: 39px;
  }

  /* line 1342, ../scss/custom.scss */
  #Scene1Bg {
    height: 765px;
    background-image: url("http://media.nestle.ca/bi2/mobile/en/iphone5/scene1@x2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 1351, ../scss/custom.scss */
  #watch_video_img_left {
    display: block;
    max-width: 78px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1361, ../scss/custom.scss */
  #watch_video_img_mid {
    display: block;
    max-width: 104px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1371, ../scss/custom.scss */
  #watch_video_img_right {
    display: block;
    max-width: 79px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1381, ../scss/custom.scss */
  #MomAndCrib {
    display: none;
  }

  /* line 1386, ../scss/custom.scss */
  #WelcomeTo {
    font-size: 50px;
    line-height: 50px;
    top: -21px;
  }

  /* line 1393, ../scss/custom.scss */
  #Discover {
    font-size: 46px;
    line-height: 53px;
    top: -21px;
  }

  /* line 1400, ../scss/custom.scss */
  #WOF {
    font-size: 60px;
    line-height: 60px;
    top: -36px;
  }

  /* line 1407, ../scss/custom.scss */
  #BreastIsBest {
    width: 290px;
  }

  /* line 1413, ../scss/custom.scss */
  #BreastIsBest img {
    top: -36px;
  }

  /* line 1418, ../scss/custom.scss */
  #copy_container {
    width: 305px;
    margin: 0 auto;
    position: relative;
    top: -35px;
  }

  /* line 1426, ../scss/custom.scss */
  #listen_to_the_story {
    margin: 8px auto;
    width: 141px;
    display: block;
  }

  /* line 1433, ../scss/custom.scss */
  #Scene1Copy {
    margin: 5px;
    width: 300px;
  }

  /* line 1439, ../scss/custom.scss */
  #section1 p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    width: 230px;
    margin: 0 auto;
  }

  /* line 1453, ../scss/custom.scss */
  .headline.scene2 {
    max-width: 90%;
  }

  /* line 1457, ../scss/custom.scss */
  .headline.scene3 {
    max-width: 90%;
  }

  /* line 1461, ../scss/custom.scss */
  .headline.scene4 {
    max-width: 95%;
  }

  /* line 1465, ../scss/custom.scss */
  .headline.scene5 {
    max-width: 90%;
  }

  /* line 1469, ../scss/custom.scss */
  .headline.scene6 {
    max-width: 95%;
  }

  /* line 1473, ../scss/custom.scss */
  .headline.scene7 {
    max-width: 95%;
    margin: 20px auto;
  }

  /* line 1481, ../scss/custom.scss */
  .headline.product1 {
    max-width: 85%;
  }

  /* line 1485, ../scss/custom.scss */
  .headline.product2 {
    max-width: 95%;
  }

  /* line 1489, ../scss/custom.scss */
  .headline.product3 {
    max-width: 80%;
  }

  /* line 1493, ../scss/custom.scss */
  .headline.product4 {
    max-width: 66%;
  }

  /* line 1497, ../scss/custom.scss */
  .headline.product5 {
    max-width: 95%;
  }

  /* line 1504, ../scss/custom.scss */
  #s2-titleTxt {
    font-size: 36px;
    line-height: 40px;
    margin-top: 10px;
  }

  /* line 1511, ../scss/custom.scss */
  .btn-sc2 {
    margin-top: 4px;
  }

  /* line 1516, ../scss/custom.scss */
  #section2 p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 4% 0 4%;
    display: none;
  }

  /* line 1524, ../scss/custom.scss */
  #s3-titleTxt {
    font-size: 33px;
    line-height: 31px;
    margin-bottom: 15px;
  }

  /* line 1531, ../scss/custom.scss */
  #section3 p {
    font-size: 14px;
    line-height: 20px;
    margin: 7px 2% 0 2%;
    display: none;
  }

  /* line 1539, ../scss/custom.scss */
  .btn-sc4 {
    margin-top: 18px;
  }

  /* line 1544, ../scss/custom.scss */
  #s4-titleTxt {
    font-size: 31px;
    line-height: 33px;
  }

  /* line 1550, ../scss/custom.scss */
  #section4 p {
    display: none;
  }

  /* line 1555, ../scss/custom.scss */
  #s5-titleTxt {
    font-size: 32px;
    line-height: 35px;
  }

  /* line 1561, ../scss/custom.scss */
  #section5 p {
    display: none;
  }

  /* line 1566, ../scss/custom.scss */
  #s6-titleTxt {
    font-size: 28px;
    line-height: 30px;
  }

  /* line 1572, ../scss/custom.scss */
  .btn-sc6 {
    margin-top: 4px;
  }

  /* line 1577, ../scss/custom.scss */
  #section6 p {
    display: none;
  }

  /* line 1582, ../scss/custom.scss */
  #pink_background {
    height: 501px;
    background-image: url("http://media.nestle.ca/bi2/mobile/en/iphone5/pink-background@x1.jpg");
  }

  /* line 1589, ../scss/custom.scss */
  #s7-titleTxt {
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 17px;
  }

  /* line 1598, ../scss/custom.scss */
  #section7 p {
    width: 295px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    float: none;
  }

  /* line 1609, ../scss/custom.scss */
  #s7_Wrapper {
    margin: 5px;
  }

  /* line 1614, ../scss/custom.scss */
  #join_now {
    display: inline;
  }

  /* line 1621, ../scss/custom.scss */
  #products_background {
    height: 832px;
    background-image: url("http://media.nestle.ca/bi2/mobile/en/iphone5/products-background@x1.jpg");
  }

  /* line 1627, ../scss/custom.scss */
  #swipe_icon {
    margin-left: 25%;
    top: -9px;
    width: 150px;
  }

  /* line 1634, ../scss/custom.scss */
  #bullets {
    margin-top: 17px;
    margin-bottom: 20px;
  }

  /* line 1640, ../scss/custom.scss */
  #bullets2 {
    margin-top: 0.5rem;
    bottom: 0.5rem;
    position: relative;
  }

  /* line 1647, ../scss/custom.scss */
  .bullet-list {
    width: 120px;
  }

  /* line 1652, ../scss/custom.scss */
  .bullet-list li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #9D660B;
    margin: 0 7px;
    cursor: pointer;
  }

  /* Reset margins from iPad layout */
  /* line 1665, ../scss/custom.scss */
  div#slider img:not(#swipe_icon):not(#prod_callout) {
    margin: 0 auto !important;
    display: block;
  }

  /* line 1671, ../scss/custom.scss */
  .golden-btn {
    margin: 7px auto 0;
    padding: 8px 15px 6px;
  }

  /* line 1677, ../scss/custom.scss */
  #slider_product1 {
    max-width: 284px !important;
    left: -20px;
  }

  /* line 1683, ../scss/custom.scss */
  #slider_product2, #slider_product3, #slider_product4, #slider_product5 {
    max-width: 284px;
    top: 15px;
  }

  /* line 1689, ../scss/custom.scss */
  .product_headline {
    font-size: 38px;
    line-height: 35px;
    margin-bottom: 7px;
    top: -7px;
  }

  /* line 1698, ../scss/custom.scss */
  .product_headline span {
    font-size: 20px;
  }

  /* line 1704, ../scss/custom.scss */
  h5.slide-caption {
    font-size: 19px;
    line-height: 25px;
  }

  /* line 1710, ../scss/custom.scss */
  p.slide-caption {
    margin: 10px 4% 0;
    font-size: 14px;
    line-height: 19px;
  }

  /* line 1718, ../scss/custom.scss */
  #save130 {
    right: 49px;
    max-width: 325px;
    display: block;
    position: relative;
    top: 15px;
    z-index: 0;
    float: none;
  }

  /* line 1731, ../scss/custom.scss */
  #footer {
    height: 205px;
  }

  /* line 1736, ../scss/custom.scss */
  #footer #footer_logo {
    float: none;
    bottom: 0;
    display: block;
    margin: 0 auto;
    max-width: 146px;
  }

  /* line 1745, ../scss/custom.scss */
  #footer #footer_links {
    text-align: center;
    margin-right: 0;
    width: 100%;
    float: none;
  }

  /* line 1755, ../scss/custom.scss */
  #callout130 {
    font-size: 10px;
    right: -7px;
    width: 65px;
    top: 4px;
    line-height: 13px;
  }

  /* line 1763, ../scss/custom.scss */
  #nav_right a img {
    margin-right: 6px;
    position: relative;
    left: 0px;
    top: 2px;
    max-width: 23px;
    margin: 4px;
  }

  /* line 1789, ../scss/custom.scss */
  #gsd_img, #watch_video_img {
    max-width: 23px;
  }

  /* line 1794, ../scss/custom.scss */
  #watch_video_img {
    margin-right: 4px;
  }

  /* line 1799, ../scss/custom.scss */
  #gsd_img {
    margin-left: 4px;
    margin-right: 7px;
  }

  /* line 1805, ../scss/custom.scss */
  #gsd_p, #watch_video_p {
    font-size: 12px;
    line-height: 15px;
  }

  /* line 1811, ../scss/custom.scss */
  #watch_video_p {
    width: 93px;
  }

  /* line 1817, ../scss/custom.scss */
  dialog, .reveal-modal {
    height: 0;
    min-height: 0;
    top: 67px;
  }

  /* line 1826, ../scss/custom.scss */
  #left_video_container, #right_video_container, #mid_video_container {
    padding: 1rem !important;
  }

  /* line 1831, ../scss/custom.scss */
  #pink_background {
    height: 585px;
  }

  /* line 1837, ../scss/custom.scss */
  .accordion dd > a {
    padding: 0.5rem;
  }

  /* line 1842, ../scss/custom.scss */
  ul#inner_nav li.ui-icon-arrow a {
    top: -1px;
  }

  /* line 1847, ../scss/custom.scss */
  ul#inner_nav li.ui-icon-arrow {
    height: 38px;
  }

  /* line 1852, ../scss/custom.scss */
  #myModal {
    top: 58px !important;
  }

  /* line 1858, ../scss/custom.scss */
  #scene1_margin {
    margin-top: 38px;
    margin-bottom: 13px;
  }

  /* line 1864, ../scss/custom.scss */
  .flex-video {
    margin-bottom: 0.3rem;
  }

  /* line 1869, ../scss/custom.scss */
  #scene1_video_bg {
    height: 600px;
    background-image: url("http://media.nestle.ca/bi2/mobile/en/video/scene1_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 1877, ../scss/custom.scss */
  #WOF_anchor {
    max-width: 150px;
  }
}
@media screen and (orientation: landscape) {
  /* line 1887, ../scss/custom.scss */
  body.noscroll {
    position: fixed;
    overflow: hidden;
  }

  /* line 1893, ../scss/custom.scss */
  #landscape_overlay {
    width: 100%;
    height: 100%;
    min-height: 320px;
    position: fixed;
    display: block !important;
    z-index: 99999999;
  }

  /* line 1901, ../scss/custom.scss */
  #landscape {
    color: Red;
  }
}
/* line 1910, ../scss/custom.scss */
#console {
  font-size: 12px;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

/* line 1920, ../scss/custom.scss */
#mySwipe div b {
  display: block;
  font-weight: bold;
  color: #14ADE5;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
