------------------------------------*\
   GLOBAL CSS
\*------------------------------------*/
/*ww1*/
/*img {border:0 none; height:auto; max-width:100%; vertical-align:middle;}*/
img {border:0 none; height:auto; max-width:100%; }

/*------------------------------------*\
   IMPORTED FONTS
\*------------------------------------*/
@font-face {
    font-family: 'Samantha-Upright';
    src: url('fonts/291310_0_0.eot');
    src: url('fonts/291310_0_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/291310_0_0.woff') format('woff'),
         url('fonts/291310_0_0.ttf') format('truetype'),
         url('fonts/291310_0_0.svg#Samantha-Upright') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
   TYPOGRAPHY
\*------------------------------------*/
/*ww1 line-height:48px; removed down there*/
body {text-align:left; font-family:'Montserrat', sans-serif; font-size:100%; font-weight:normal; background:url("http://media.nestle.ca/bi2/mobile/en/selfie/bg-mobile.jpg");}
p {color:#FFF; font-size:2.000em;}
p a {color:#F0E300; text-decoration:none;}
p a:hover {color:#F0E300; text-decoration:underline;}

/*------------------------------------*\
   HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal; line-height:1.125em;}

h1.note { font-size:0.75em !important;}

/*------------------------------------*\
   SITE SPECIFIC LAYOUT
\*------------------------------------*/
#page {position:relative; width:100%; max-width:640px; margin:0 auto;}
#page .nav, .header, .footer {width:100%;}

#page .nav {float:left; background-color:#FFF;}
/*ww1 changed 87.5% to 100%*/
#page .header {position:relative; float:left; width:100%; padding:6.25% 6.25% 3.25% 6.25%;}
#page .header h1 {color:#7a2176; font-size:1.000em; padding-bottom:10px; font-weight:400; line-height:1.375em;}
#page .header h1 span.highlight {color:#3a4b9d; font-weight:700;}

input.text {width:94%; height:20px; padding:10px; color:#a2a2a2; font-size:1.188em; border:1px solid #9ac5df; background:#f5f9fb url("http://media.nestle.ca/bi2/mobile/en/selfie/icon-magnifying-glass.png") center right no-repeat;}

#page .container {position:relative; float:left; width:100%;}
#page .container p {color:#7a2176; padding:50px 0 50px 0;}
#page .container h2 {float:left; color:#FFF; font-weight:700; font-size:2.500em; padding-bottom:10px; text-transform:uppercase;}

#page #search {/*position:absolute; top:136%; left:8%;*/ float:left; width:83%; margin-left:8%; z-index:1000;}
#page #search input.search {width:100%; height:40px; margin:8px 0px 0 0; padding:10px; color:#a2a2a2; font-size:0.938em; border:1px solid #9ac5df; background:#f5f9fb url("http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_share/icon-magnifying-glass.png") center right no-repeat;}

/*changed 87.5% to 100%*/
#page #legal {position:relative; float:left; width:100%; padding:6.25% 6.25% 3.25% 6.25%;}
#page #legal p {padding-bottom:10px; color:#7a2176; font-size:0.625em; line-height:1.250em;}
#page #legal p a {color:#7a2176; font-weight:bold; text-decoration:underline;}

/*------------------------------------*\
   RIBBON / TINT LAYOUT
\*------------------------------------*/
#page .ribbon-container {position:relative; float:left; width:100%; padding:0 0 23% 0; overflow:hidden;}
#page .ribbon-container .ribbon-left {position:absolute; top:0; left:0; float:left; width:19.53125%; height:21.875%; z-index:1;}
#page .ribbon-container .ribbon-right {position:absolute; top:0; right:0; float:right; width:19.53125%; height:21.875%; z-index:1;}

#page .ribbon-container .ribbon {position:absolute; top:0; left:0; float:left; width:100%; height:21.875%; z-index:100;}
#page .ribbon-container .ribbon-copy {position:absolute; top:0px; left:0px; float:left; width:100%; z-index:100; text-align:center;}
#page .ribbon-container .ribbon-copy p {padding:4% 0 0 0; font-family:"Samantha-Upright"; color:#3b60af; font-size:2.500em;}

#page .ribbon-container .tint {position:absolute; top:100px; left:8.875%; float:left; width:82%; min-height:900px; z-index:10;}

/*------------------------------------*\
   THANK YOU LAYOUT
\*------------------------------------*/
#page .header h1.thank-you {padding-bottom:0px; text-align:center; line-height:28px;} 
#page .container.thank-you {position:relative; float:left; width:87.5%; padding:6.25%;}

#page .container.thank-you .ribbon-good-start {float:left;}
#page .container.thank-you .img-good-start img {float:left;}

#page .container.thank-you p.legal {float:left; margin-top:40px; padding:0; color:#7a2176; font-size:0.875em; line-height:1.250em;}
#page .container.thank-you p.legal a {color:#7a2176; font-weight:bold; text-decoration:underline;}

/*------------------------------------*\
   FOOTER LAYOUT
\*------------------------------------*/
#page #footer {position:relative; float:left; width:87.5%; padding:3.25% 6.25% 3.25% 6.25%; background-color:#005baa;}
#page #footer .footer-container {width:100%; margin:0 auto;}
#page #footer .footer-container .footer-content {float:left; width:100%; padding:0; font-family:Verdana, Geneva, sans-serif;}
#page #footer .footer-container .footer-content .footer-logo {float:left; width:100%; height:32px; margin-bottom:18px; text-align:right;}
#page #footer .footer-container .footer-content ul.footer-list {float:right; width:90%; text-align:right;}
#page #footer .footer-container .footer-content ul.footer-list li {color:#FFF; font-size:0.69em; display:inline;}
#page #footer .footer-container .footer-content ul.footer-list li a {padding:0 6px 0 6px; color:#FFF; text-decoration:none;}
#page #footer .footer-container .footer-content ul.footer-list li a.last {padding:0 0 0 6px;}
#page #footer .footer-container .footer-content .footer-copyright {float:left; width:100%; color:#FFF; font-size:0.69em; text-align:right;}

/*------------------------------------*\
   MISC.
\*------------------------------------*/
#page .img-full img {width:100%; padding-bottom:10px;}

.counter {padding:0 0 0 4px; color:#393939; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:0.75em; font-weight:bold; letter-spacing:6px; border:1px solid #c6cccf;    
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F3F7F8 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F3F7F8 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F3F7F8 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #F3F7F8));
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F3F7F8 100%); 
background-image: linear-gradient(to top, #FFFFFF 0%, #F3F7F8 100%);}

iframe {margin-top:10px !important; z-index:1;}

/*------------------------------------*\
   MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
	body {font-size:68%; line-height:36px;}
	#page .container p {padding:30px 0 30px 0; line-height:28px;}
  /*ww1 changed padding-top from 2% to 4%*/
  #page .ribbon-container .ribbon-copy p {padding-top:3%; font-size:2.500em;}
  .counter {height:26px; padding:0 0 0 4px; font-size:0.563em; line-height:30px;}
  #footer .footer-container .footer-content ul.footer-list li {font-size:1.000em;}
  #footer .footer-container .footer-content .footer-copyright {font-size:1.000em;}
  #page #legal p {font-size:1.000em;}
  .ribbon-container {margin-left: 0 !important;}
  #holder {width: 87.5%; padding: 6.25%; margin-left: 2px !important; /*padding-bottom: 30px !important;*/}
  /*#page .ribbon-container .tint {min-height:900px;}*/
  /*#page .tint {top:100px;}*/

  /*ww1 added for footer*/
  .row1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #b1d3f2;
  line-height: 2;
  }

}

@media only screen and (max-width: 320px) {
  /*#page .ribbon-container .tint {top:0px;}
  #page .ribbon-container {height:60px;}*/
}

/*------------------------------------*\
   EM SCALE
\*------------------------------------*/
/*

0.625em = 10px
0.69em  = 11px
0.75em  = 12px
0.813em = 13px
0.875em = 14px
0.938em = 15px
1.000em = 16px
1.063em = 17px
1.125em = 18px
1.188em = 19px
1.250em = 20px
1.313em = 21px
1.375em = 22px
1.438em = 23px
1.500em = 24px
1.563em = 25px
1.625em = 26px
1.688em = 27px
1.750em = 28px
1.813em = 29px
1.875em = 30px
1.938em = 31px
2.000em = 32px

http://riddle.pl/emcalc/

