/*
	Title:		Good Start
	Date:		December 3, 2013
	
-------------------------------------	
*/
 .the-baby-mod8 {
    top: -280px;
}
.cloud-sheep {
    position: absolute;
    right: -300px;
}
.module2-titleTxt {
    margin-bottom: 15px !important;
}
.module3-titleTxt2 {
    margin-bottom: 35px !important;
}
.module5-titleTxt2 {
    margin-bottom: 15px !important;
}
.module6-titleTxt {
	margin-top:-15px;
    margin-bottom: 15px !important;
}
.module7-titleTxt2 {
    margin-bottom: 25px !important;
}
.module8-bottom-titleTxt {
    margin-top: -10px !important;
    margin-bottom: 45px !important;
}
.bird-container {
    right:-200px;
}
/* french  */
 .fr-module2-titleTxt {
    margin-bottom: 15px !important;
}
.txt-indent3 {
    margin-top: -10px;
    margin-bottom: 25px !important;
}
.fr .module8-bottom-titleTxt {
    padding: 10px 0 0px 0;
}
.align-right {
    margin-bottom: 50px !important;
}
.module5-footer {
    z-index: 31;
    clear: both;
    width: 100%;
    padding: 0px 0 10px;
    position:absolute;
    top:3160px;
    background-color: #d89f3e;
    height:350px;
}
.fr .module6-footer {
    clear: both;
    width: 100%;
    padding: 60px 0 10px;
    position:absolute;
    top:4350px;
    background-color: #1e88d3;
    z-index: 20;
    height:250px;
}

.video-title {
    padding-bottom: 25px;
}