/* @license
 * MyFonts Webfont Build ID 2691856, 2013-11-19T17:25:12-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Samantha Upright PRO by Laura Worthington
 * URL: http://www.myfonts.com/fonts/laura-worthington/samantha-upright-script/pro/
 * Copyright: Copyright (c) 2011 by Laura Worthington. All rights reserved.
 * 
 * Webfont: Samantha Upright PRO Bold by Laura Worthington
 * URL: http://www.myfonts.com/fonts/laura-worthington/samantha-upright-script/samantha-upright-pro-bold/
 * Copyright: Copyright (c) 2012 by Laura Worthington. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2691856
 * Licensed pageviews: 200,000
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("http://hello.myfonts.net/count/291310");

  
@font-face {font-family: 'SamanthaUprightPRO';src: url('../fonts/291310_0_0.eot');src: url('../fonts/291310_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/291310_0_0.woff') format('woff'),url('../fonts/291310_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'SamanthaUprightPRO-Bold';src: url('../fonts/291310_1_0.eot');src: url('../fonts/291310_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/291310_1_0.woff') format('woff'),url('../fonts/291310_1_0.ttf') format('truetype');}
 