#pauseR {
	/*visibility: hidden;*/
	display: none;
float: left;
	margin: 0;
	padding: 0;
	list-style: none;

}

#play {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	
}

#timeline {
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	position: absolute;

}
#timelineborder {
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	position: absolute;

}

