/*
    Title:      Good Start
    Date:       October 28, 2013
    
-------------------------------------   
*/

/*=========== BEGIN COMMON ============*/
 html, body {
    width: 100%;
    height: 100%;
}
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, samp, small, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, object, iframe {
    margin:0;
    padding:0;
    border:0;
}
body {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: Arial;
    background: #005baa;
}
body.video-page {
    background: #692c66;
}
.clear:after, .row:after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a:hover {
    text-decoration: underline;
}
img {
    height: auto;
    max-width: 100%;
}
a img {
    border: 0
}
input, select, textarea {
    outline: none
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, summary, audio, video, details {
    display: block;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.pull-center {
    text-align: center;
}
.wrapper {
    clear: both;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}
.row {
    clear: both;
    width: 100%;
}
.purple-btn, .golden-btn, .pink-btn {
    float: right;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 20px 0;
    text-align: center;
    background: #7a2176;
    margin: 10px 0 0;
    display :block;
    color: #f3cef9;
    position: relative;
    border: 0;
    cursor: pointer;
    font-weight: normal;
    font-family:'montserratregular';
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.purple-btn em {
    font-style: normal;
    font-size: 20px;
}
.purple-btn:hover {
    text-decoration: none;
    background: #67156c;
}
.golden-btn, .pink-btn {
    height: 27px;
    padding: 6px 15px 0;
    background: #a76d0a;
    color: #ffe7b4;
    font-family:'neuzeit_groteskregular';
}
.golden-btn em, .pink-btn em {
    font-style: normal;
    font-size: 20px;
}
.golden-btn:hover {
    text-decoration: none;
    background: #7c5006;
}
.pink-btn {
    color: #ffd0fa;
    background: #b062a8;
}
.pink-btn:hover {
    text-decoration: none;
    background: #8b3f83;
}
.container {
    clear: both;
    width: 100%;
    overflow: hidden;
    padding: 62px 0 0;
}
.shadeX, .topShadeX {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    font-size: 6px;
    line-height: 6px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_shadeX.png) repeat-x 0 0;
}
.topShadeX {
    bottom: auto;
    top: -6px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_top-shadeX.png) repeat-x left bottom;
}
.pause-btn, .mute-btn {
    display:none;
}
/*=========== END COMMON ============*/

/*=========== BEGIN HEADER ============*/
 header {
    width: 100%;
    background-color: #f3cef9;
    z-index: 99999;
    clear: both;
    position: fixed;
    left: 0;
    top: 0;
    height:60px;
    overflow: visible;
}
.callout {
    position: absolute;
    top: -6px;
    right: -10px;
}
header nav li.narrow {
    padding: 2px 4px;
}
/*ww1 changed padding from 5px 10px padding-left from 35*/
header nav li .big-button {
    display:inline-block;
    background: #651a62;
    padding:4px 8px;
    margin: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-height: 26px;
    position: relative;
    padding-left:33px;
    border-top:1px solid #7f347c;
}
header nav li .big-button:hover {
    text-decoration: none;
    background: #581455;
    transition-duration: 0;
}
header nav li .big-button.active {
    background:#30032d;
}

header nav li .big-button .round {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/round-off.png) no-repeat;
    position: absolute;
    left:-5px;
    top:-7px;
}
header nav li .big-button:hover .round {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/round-on.png) no-repeat;
}
header nav li .big-button.active .round {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/round-active.png) no-repeat;
}
header nav li.language a {
    color: #cc8ec9;
}
header nav li.language {
    padding: 6px 8px;
}
.language-bar {
    width: 980px;
    padding: 5px 0;
    margin: 0 auto;
    overflow: hidden;
    height: 2px;
}
.language-bar ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.language-bar li {
    display: inline;
    margin: 0 0 0 10px;
}
.language-bar li a {
    font-family:'montserratregular';
    color: #d097da;
}
.language-bar li a:hover {
    color: #ac51bb;
    text-decoration: none;
}
.language-bar li .active {
    color: #ac51bb;
    text-decoration: none;
}
.header-nav {
    margin-top:12px;
    clear: both;
    width: 100%;
    height: 50px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_header-navX.jpg) repeat-x;
}
.header-wrap {
    width: 980px;
    margin: 0px auto;
    position: relative;
    z-index:9;
}
/*ww1 changed left and top*/
.logo {
    position: absolute;
    left: -10px;
    top: -4px;
}
header nav {
    float: right;
    padding: 12px 0 0 0;
    margin-right:80px;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right:-5px;
}
/*ww1 changed padding form 10px*/
header nav li {
    list-style: none;
    float: left;
    padding: 0 8px;
}
/*ww1 changed font from 12*/
header nav li a {
    color: #fce5ff;
    font-size: 10px;
    font-family:'montserratregular';
    text-shadow: 1px 1px 1px #330631;
}
.francais header nav li a {
    font-size: 11px;
}
.side-nav {
    position: relative;
    left: 0;
    top: 25px;
    z-index: 999;
    width: 320px;
}
.side-nav.controls {
    top:0;
}
.nav-inner {
    position: relative;
    left:0;
    display: table-cell;
    vertical-align: middle;
    height:450px;
}
.nav-center {
    display: table;
    vertical-align: middle;
    position: fixed;
    height: 100%;
    left: -280px;
    top:0;
    z-index: 35;
}
.fr .side-nav {
    position: fixed;
    left: -289px;
    top: 180px;
    z-index: 999;
    width: 328px;
}
.nav-open {
    left: 0;
}
.nav-collapse {
    width: 100%;
    background: #6e1971;
    overflow: hidden;
}
.nav-collapse .icon {
    float: right;
    display: block;
    cursor: pointer;
    width: 39px;
    height: 39px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_side-nav-icon.png) no-repeat center;
    border-left: 2px solid #934892;
}
.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-nav li {
    float: left;
    margin: 0;
    padding: 0;
    border-top: 2px solid #934892;
    width: 100%;
    overflow: hidden;
}
.side-nav li a {
    float: left;
    width: 100%;
    background: #7a2176;
    display: inline-block;
    color: #efbcec;
    overflow: hidden;
    vertical-align: middle;
}
.side-nav li a span.dfn {
    float: right;
    display: block;
    font-style: normal;
    font-family:'neuzeit_groteskregular';
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0 9px;
}
.side-nav li a span.number {
    color: #f3cef9;
    padding: 10px 0 9px;
    margin-left: 10px;
    float: right;
    display: block;
    cursor: pointer;
    font-size: 19px;
    line-height: 19px;
    width: 39px;
    text-align: center;
    border-left: 2px solid #934892;
    font-family:'montserratregular';
}
.side-nav li a:hover, .side-nav li.selected a {
    color: #fff;
    text-decoration: none;
    background: #7a1c7f url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_side-nav-hover.jpg) repeat-x left bottom;
}

/*ww1 new style for side Fr*/
.sideFR {
    font-size:16px !important;
    color: #cc8ec9 !important;
}

/*=========== END HEADER ============*/

/*=========== BEGIN MODULE 1 ============*/
 .module1-wrap {
    clear: both;
    width: 100%;
    height: 510px;
    overflow:hidden;
    z-index:1;
    position:relative;
}
.module1-wrap.video {
    height:824px;
}
.module1-content {
    width:990px;
    margin: 0 auto;
    padding: 80px 0 160px;
    position: relative;
}
.video-page .module1-content {
    width:900px;
}
.module1-bg {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module1-pattern.jpg) center top;
    position:absolute;
    width:100%;
    height:100%;
}
.babymod1-container {
    position:absolute;
    width:100%;
    height:100%;
    left:100px;
    top:0;
}
.baby-crib {
    position: absolute;
    left: -25px;
    top: 40px;
    width: 410px;
    height: 490px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/baby-crib-small.png) no-repeat;
    z-index: 10;
}
.first-butterflyTxt {
    font-size: 10px;
    position: absolute;
    left: 250px;
    top: 750px;
    width: 260px;
    height: 400px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/infant_first_butterflykiss.png) no-repeat;
    z-index: 2;
}
.the-baby {
    position: absolute;
    left: 65px;
    top: 135px;
    width: 210px;
    height: 290px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/first_smile_newborn.png) no-repeat;
    z-index: 10;
    display:block;
}
.mom-standing {
    position: absolute;
    left: 235px;
    top: 30px;
    width: 240px;
    height: 340px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/baby_stages_mom_standing.png) no-repeat;
    z-index: 12;
    display:block;
}
.mom-leans {
    position: absolute;
    left: 195px;
    top: 70px;
    width: 266px;
    height: 258px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_mom-bentover.png) top left no-repeat;
    z-index: 12;
    display:block;
    opacity: 0;
}
.container-movement {
    position:absolute;
    z-index:6;
    height:500px;
    width:500px;
    top:50px;
    left:0;
}
.green-butterfly {
    position: absolute;
    left: 170px;
    top: 180px;
    width: 150px;
    height: 160px;
    z-index: 2;
    display:block;
    opacity: 1;
}
#gb {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-butterfly-open.png) center center no-repeat;
    position: absolute;
    left: 100px;
    top: 370px;
    width: 150px;
    height: 160px;
    z-index: 1;
    opacity: 1;
}
.green-butterfly.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-butterfly-open.png) center center no-repeat;
}
.green-butterfly.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-butterfly-hide.png) center center no-repeat;
}
.red-butterfly {
    position: absolute;
    left: 170px;
    top: 180px;
    width: 150px;
    height: 160px;
    z-index: 2;
    display:block;
    opacity: 1;
}
.red-butterfly.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_red-butterfly.png) center center no-repeat;
}
.red-butterfly.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_red-butterfly-close.png) center center no-repeat;
}
.pink-butterfly {
    position: absolute;
    left: -40px;
    top: 400px;
    width: 170px;
    height: 170px;
    z-index: 7;
    display:none;
}
.pink-butterfly.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_pink-open.png) center center no-repeat;
}
.pink-butterfly.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_pink-close.png) center center no-repeat;
}
.green-butterfly.reverse, .red-butterfly.reverse, .pink-butterfly.reverse {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.green-butterfly.normal, .red-butterfly.normal, .pink-butterfly.normal {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.module1-caption {
    float:right;
    width:450px;
    padding: 20px 0 0;
    display:block;
    opacity: 0;
    margin-top: 20px;
    top:-35px;
    position:relative;
}
/*ww1 changed margin left from 20 to 3*/
.module1-buttons {
    display: inline-block;
    margin: 20px 0px 0px 3px;
}
.purple-ribbon {
    width: 365px;
    height: 80px;
    text-indent: -99999px;
    margin-left: 40px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_purple-ribbon.png) no-repeat;
    position: relative;
    top: -30px;
}
.welcomeTxt {
    font-size: 10px;
    clear: both;
    width: 398px;
    margin: -15px 0 -10px 10px;
    height: 109px;
    text-indent:-99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_welcometxt-full.png) no-repeat;
    position: relative;
    top: -20px;
}
.world-of-firsts {
    /*float: right;
    width: 420px;
    height: 100px;
    margin: -20px 0 10px;
    text-indent:-99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_world-of-firsts.png) no-repeat;
        position: relative;
        top: 80px;
        */
}
.module1-caption p {
    clear: both;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #925e9d;
    font-family:'montserratregular';
    position: relative;
    width: 420px;
    margin-left: -10px;
    /*
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform:rotate(1deg);  
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg); 
    */
}
.francais .module1-caption p {
    margin-bottom: 0;
}
.purple-btn {
    /*
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform:rotate(3deg);  
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); 
    */
    font-family:'montserratregular';
    font-weight: normal;
    left: -40px;
    position: relative;
    display: block;
}
/*=========== END MODULE 1 ============*/
 .purple-bar {
    min-height: 152px;
    position:absolute;
    width:100%;
    left:0;
    top:570px;
    z-index: 11;
    background: #7a2176 url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_dotted-pattern.jpg) repeat-x 0 0;
}
.scroll-arrow {
    width: 70px;
    height: 80px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_scroll-arrow-en.png) no-repeat;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    top: -24px;
    margin-left: -35px;
    z-index: 9;
}
.francais .scroll-arrow {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_scroll-arrow-fr.png) no-repeat;
}
/*=========== BEGIN MODULE 2 ============*/
 #sec-2 {
    position:absolute;
    margin:0;
    top:20px;
    left:0;
}
.module2-wrap {
    clear: both;
    width: 100%;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module2-pattern.jpg) center top;
    background-color: #dcd167;
    position:relative;
    z-index:2;
    overflow:hidden;
    margin:0;
}
.module2-content {
    width:980px;
    margin: 0 auto;
    min-height: 660px;
    position: relative;
}
.mountain-container {
    overflow:hidden;
    position:absolute;
    z-index:1;
    top:20px;
    left:190px;
    width:510px;
    height:332px;
}
.mountain {
    position: absolute;
    left: 0px;
    top: -50px;
    z-index: 3;
}
.windowFrame {
    position: absolute;
    left: 190px;
    top: 30px;
    width: 670px;
    height: 600px;
    z-index: 2;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_windowFrame.png) no-repeat 0 0;
}
.curtain-container {
    position:absolute;
    width:1000px;
    left:50%;
    margin:0 0 0 -500px;
    top:-70px;
    height:400px;
}
.leftCurtain {
    position: absolute;
    left: 66px;
    top: -100px;
    width: 255px;
    height: 600px;
    z-index: 3;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_left-curtain.png) no-repeat 0 -50px;
}
.rightCurtain {
    position: absolute;
    right: 192px;
    top: -100px;
    width: 220px;
    height: 620px;
    z-index: 4;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_right-curtain.png) no-repeat 0 -50px;
}
.count {
    position:fixed;
    top:0;
    left:10px;
    z-index:1000;
    background:#FFF;
    color:#000;
}
.momandbaby-container {
    position:absolute;
    left:170px;
    top:0;
    height:100%;
    width:100%;
}
.mom-mod2-container {
    position:absolute;
    left:-50px;
    width:450px;
    height:860px;
    top:250px;
}
.mom-mod2 {
    position: absolute;
    z-index: 5;
}
.mom-mod2-arm {
    position:absolute;
    z-index:11;
    left: 30px;
    top: 270px;
}
.baby-masked {
    position: absolute;
    left: -50px;
    top: -600px;
    z-index: 10;
}
.man2-outer-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.man2-container {
    position:relative;
    width:1220px;
    height:700px;
    top:750px;
    left:500px;
    overflow:hidden;
}
.man-mod2 {
    position: absolute;
    top: 65px;
    left:50px;
    z-index: 7;
}
.milk-bottle {
    position: absolute;
    top: 228px;
    left: 320px;
    z-index: 8;
}

.counter1 {
    position: absolute;
    left: 0px;
    top: 340px;
    z-index: 9;
}
.cereal {
    position: absolute;
    top: 280px;
    left: 145px;
    z-index: 10;
}
.first-formulaTxt {
    font-size: 10px;
    position: absolute;
    top: 405px;
    left:1000px;
    width: 450px;
    height: 55px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/good_start_ca_formula.png) no-repeat;
    margin: 0;
    padding: 0;
    z-index: 11;
}
.module2-footer {
    clear: both;
    width: 100%;
    padding: 60px 0;
    position:absolute;
    background: #50929a;
    z-index: 30;
    top:1020px;
}
.module2-footer-curve {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: -56px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module2-footer-curve.png) no-repeat center top;
}
.module2-footer-content {
    width: 900px;
    margin: 0 auto;
}
.module2-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 60px;
    color: #b4e4e9;
    font-weight: normal;
    clear: both;
    text-align: center;
    line-height: 44px;
    padding: 0 0 15px;
    margin: 0;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    letter-spacing: .01em;
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module2-titleTxt.png) no-repeat;
    */
}
.video-title {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 70px;
    color: #7a2176;
    font-weight: normal;
    clear: both;
    text-align: left;
    line-height: 70px;
    padding: 0 0 15px 0;
    margin: 0;
}
.module2-footer-content p {
    color: #bbedf3;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px #0d3e44;
    width: 940px;
    font-family:'neuzeit_groteskregular';
    /*
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform:rotate(-1deg);  
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); 
    */
}
/*=========== END MODULE 2 ============*/

/*=========== BEGIN MODULE 3 ============*/
 #sec-3 {
    margin:24px 0 0 0;
    position:absolute;
}
#sec-3.french {
    margin:12px 0 0 0;
}
.module3-wrap {
    clear: both;
    width: 100%;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module3-pattern.jpg) center top;
    overflow:hidden;
    position:relative;
    margin:0;
}
.module3-content {
    width:980px;
    margin: 0 auto;
    min-height: 770px;
    position: relative;
}
.cloud-right {
    position:absolute;
    right:-1100px;
    margin:0 50% 0 0px;
    width:1500px;
    height:400px;
    z-index:7;
}
.cloud1-mod3 {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 250px;
    height: 150px;
    z-index: 4;
}
.cloud4-mod3 {
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 4;
    top: 160px;
    left: 500px;
}
.cloud5-mod3 {
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 4;
    top: 50px;
    left: 1150px;
}
.cloud-left {
    width:1500px;
    left:-650px;
    height:400px;
    margin:0 0 0 50%;
    position:absolute;
    z-index:7;
}
.cloud2-mod3 {
    position: absolute;
    left: 260px;
    top: -60px;
    width: 500px;
    height: 320px;
    z-index: 4;
}
.cloud3-mod3 {
    position: absolute;
    left: 900px;
    top: 150px;
    width: 230px;
    height: 150px;
    z-index: 4;
}
.bird-mod3 {
    position: absolute;
    right: 120px;
    top: 250px;
    width: 150px;
    height: 150px;
    z-index: 8;
}
.bird-mod3.show, .bird-mod3.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_bird1.png) bottom center no-repeat;
}
.bird-mod3.hide, .bird-mod3.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_bird2.png) bottom center no-repeat;
}
.sun {
    position: absolute;
    left: 0;
    top: -400px;
    z-index: 6;
}
.backhill-container {
    position:absolute;
    width:1400px;
    height:800px;
    top:200px;
    left:50%;
    margin:0 0 0 -100px;
}
.backhill {
    position: absolute;
    left: 50%;
    margin:0 0 0 -765px;
    bottom: -50px;
    z-index: 1;
}
.tree {
    position: absolute;
    left:325px;
    top:50px;
    z-index: 8;
}
.cow {
    position: absolute;
    left: 240px;
    top: 250px;
    z-index: 2;
}
.flower1 {
    position: absolute;
    left: 455px;
    top: 308px;
    z-index: 8;
}
.flower2 {
    position: absolute;
    left: 560px;
    top: 300px;
    z-index: 1;
}
.fronthill-container {
    position:absolute;
    height:900px;
    width:1700px;
    left:50%;
    margin:0 0 0 -1400px;
    top:-50px;
    z-index: 7;
}
.fronthill {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -525px;
    bottom: 50px;
    z-index: 9;
}
.flower3 {
    position: absolute;
    left: 1414px;
    top: 605px;
    z-index: 19;
}
.flower4 {
    position: absolute;
    top: 420px;
    left: 960px;
    z-index: 9;
}
.bush {
    position: absolute;
    top: 400px;
    left: 1410px;
    z-index: 9;
}
.bush2 {
    position: absolute;
    top:560px;
    left:1320px;
    z-index: 9;
}
.blanket {
    position: absolute;
    left: 50%;
    margin:0 0 0 -290px;
    top:400px;
    z-index: 19;
}
.baby-mod3 {
    position: absolute;
    left: 245px;
    top: -700px;
    z-index: 20;
}
.bunny {
    position: absolute;
    top: 570px;
    left: 684px;
    z-index: 9;
}
.first-achooTxt {
    top: 460px;
    left: 1290px;
    font-size: 10px;
    position: absolute;
    width: 400px;
    height: 350px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/babys_first_ah_choo.png) no-repeat;
    margin: 0;
    padding: 0;
    z-index: 8;
}
.module3-footer {
    clear: both;
    width: 100%;
    padding: 20px 0 10px;
    position:absolute;
    top:1800px;
    /*background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module3-footer-bg.png) no-repeat center top;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #508b3b;
    z-index: 20;
}
.module3-grass {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: -62px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module3-grass.png) repeat-x;
}
.module3-footer-content {
    width: 900px;
    margin: 0 auto;
}
.module3-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 50px;
    color: #c2e5b5;
    font-weight: normal;
    text-align: center;
    clear: both;
    line-height: 66px;
    margin: 0;
    padding: 0;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
}
.module3-titleTxt2 {
    margin: 0;
    text-align: right;
    margin-right: 0px;
}
.francais .module3-titleTxt {
    line-height: 46px;
}
.module3-footer-content p {
    color: #ddffd1;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 0;
    padding: 0;
    text-shadow: 1px 1px 2px #123505;
    font-family:'neuzeit_groteskregular';
    /*
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform:rotate(-1deg);  
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); 
    */
}
.video-content {
    color: #7a2176;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    font-family:'neuzeit_groteskregular';
}
.video-embed {
    padding-top:30px;
}
.module3-footer-content span {
    margin: 40px 0 0;
    display: block;
    color: #81a277;
    font-size: 11px;
    line-height: 14px;
}
.francais .module3-footer-content span {
    margin: 20px 0 0;
}
/*=========== END MODULE 3 ============*/

/*=========== BEGIN MODULE 4 ============*/
 #sec-4 {
    margin:42px 0 0 0;
    position:absolute;
}
#sec-4.french {
    margin:30px 0 0 0;
}
#sec-5 {
    top:20px;
    position:absolute;
}
.module4-wrap {
    clear: both;
    width: 100%;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module4-bg.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ca7f06;
}
.module4-content {
    width:960px;
    margin: 0 auto;
    position: relative;
    padding:172px 0 146px;
    position:relative;
    z-index:20;
}
.slide-wrap {
    width:960px;
    min-height:260px;
}
.slide-content {
    float:left;
    width:960px;
}
.slide-img {
    float:left;
    width:400px;
    position: relative;
    padding-right: 40px;
    min-height: 100px;
}
.slide-img img {
    position: absolute;
    right: 0;
    top: 0;
    max-width:none;
}
.slide-caption {
    float:right;
    width: 430px;
    padding-right: 75px;
    color: #fff;
    font-family:'neuzeit_groteskregular';
}
.move-cap-up {
    margin-top: -60px;
    position: relative;
}
.module4-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 34px;
    color: #ae6100;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 18px;
    margin: 0px 0 15px 0;
    padding: 0;
}
.module4-titleTxt2 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 70px;
    color: rgba(122, 74, 12, .78);
    font-weight: normal;
    position: absolute;
    line-height: 18px;
    margin: 20px 0 30px -3px;
    letter-spacing: -1px;
    padding: 0;
    width: 600px;
}
.module4-titleTxt3 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 60px;
    color: rgba(122, 74, 12, .78);
    font-weight: normal;
    position: absolute;
    line-height: 18px;
    margin: 20px 0 30px -3px;
    letter-spacing: -.01em;
    padding: 0;
    width: 600px;
}
.module4-titleTxt4 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 45px;
    color: rgba(122, 74, 12, .78);
    font-weight: normal;
    position: absolute;
    line-height: 48px;
    margin: 30px 0 30px -3px;
    letter-spacing: -.01em;
    padding: 0;
    width: 600px;
}
.module4-titleTxt5 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 45px;
    color: rgba(122, 74, 12, .78);
    font-weight: normal;
    position: absolute;
    line-height: 40px;
    margin: -20px 0 80px -3px;
    letter-spacing: -.01em;
    padding: 0;
    width: 600px;
}
.slide-caption h2 {
    color: #fff0dd;
    margin: 90px 0 10px;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption h5 {
    color: #fff0dd;
    /*margin: 90px 0 0px 0px;*/
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption p {
    color: #fff0dd;
    margin: 10px 0 20px;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption p.first {
    color: #fff0dd;
    /*margin: 90px 0 20px;*/
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption .golden-btn {
    float: none;
    clear: both;
    width: 114px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.fr .slide-caption .golden-btn {
    width: 150px;
}
.slide-caption span {
    display: block;
    color: #f9debb;
    font-size: 10px;
    line-height: 12px;
    font-family:'neuzeit_groteskregular';
}
.slide-arrow a {
    position:absolute;
    top:260px;
    width:80px;
    height:80px;
    display:block;
    font-size:10px;
    z-index:9;
    text-indent:-99999px;
}
.slide-arrow .prev {
    left:15px;
    background:url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_slide-arrow-prev.png) no-repeat;
}
.slide-arrow .next {
    right:-40px;
    background:url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_slide-arrow-next.png) no-repeat;
}
/*=========== END MODULE 4 ============*/

/*=========== BEGIN MODULE 5 ============*/
 .module5-wrap {
    clear: both;
    width: 100%;
    border-top: 1px solid #955b1d;
    position: relative;
    overflow:hidden;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/module5-pattern.jpg);
}
.module5-content-overlay {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module5-content-overlay.png) no-repeat center -100px;
    opacity:0;
}
.module5-content {
    width:980px;
    margin: 0 auto;
    min-height: 750px;
    position: relative;
}
.module5-continous {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.module5-floor {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/floor-block.jpg) no-repeat;
    position:absolute;
    width:1500px;
    height:331px;
    top: 250px;
}
.stage {
    position: absolute;
    left: -50px;
    top: 200px;
    z-index: 1;
}
.stair {
    position: absolute;
    left: 60px;
    top: 414px;
    z-index: 2;
}
.curtain-mod5-container {
    position:absolute;
    width:1030px;
    height:900px;
    left:-250px;
    top:-80px;
    z-index: 9;
}
.curtain-mod5-container .wall-repeat {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/behind-curtain.jpg) right repeat-x;
    position: relative;
    top:0;
    right:1200px;
    width:1500px;
    height:700px;
}
.left-curtain-mod5 {
    position: absolute;
    left: 30px;
    top: -150px;
    width: 500px;
    height: 895px;
}
.right-curtain-mod5 {
    position: absolute;
    right: 110px;
    top: -50px;
    width: 220px;
    height: 400px;
}
.first-bellyTxt {
    font-size: 10px;
    position: absolute;
    right: 120px;
    top: 136px;
    width: 350px;
    height: 230px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/baby_first_laugh.png) no-repeat;
    margin: 0;
    padding: 0;
    z-index: 5;
    opacity:0;
}
.mom-mod5-container {
    position:absolute;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_mom-mod5-nopuppets.png) no-repeat;
    left: 160px;
    top: 45px;
    width:300px;
    height:400px;
    z-index:7;
}
.mom-mod5-container .closed {
    position: absolute;
    left: 50px;
    top: 60px;
    display:none;
}
.mom-mod5-container .open {
    position: absolute;
    left: 50px;
    top: 60px;
}
.baby-seat1-cover {
    position:absolute;
    z-index:21;
    top: 344px;
    left: 695px;
}
.baby-seat1 {
    position: absolute;
    right: 80px;
    top: 240px;
    z-index: 6;
}
.baby-seat2 {
    position: absolute;
    top: 248px;
    right: -190px;
    z-index: 6;
}
.baby-seat3 {
    position: absolute;
    right: -720px;
    top: 400px;
    z-index: 6;
}
.baby-mod5 {
    position: absolute;
    right: 166px;
    top: -350px;
    z-index: 10;
    width:232px;
    height:307px;
}
.baby-mod5-noshadow {
    position:absolute;
    top:0;
    left:0;
    z-index:11;
}
.baby-mod5-shadow {
    top:0;
    left:0;
    position:absolute;
    display:none;
    z-index:10;
}
.light1 {
    position: absolute;
    right: 220px;
    top: 20px;
    z-index: 7;
    transform : rotate(300deg);
    -ms-transform : rotate(300deg);
    -webkit-transform : rotate(300deg);
}
.light2 {
    position: absolute;
    right: 80px;
    top: 30px;
    z-index: 7;
    transform : rotate(300deg);
    -ms-transform : rotate(300deg);
    -webkit-transform : rotate(300deg);
}
.module5-footer {
    z-index: 31;
    clear: both;
    width: 100%;
    padding: 15px 0 10px;
    position:absolute;
    top:3160px;
    background-color: #d89f3e;
    height:310px;
}
.francais .module5-footer {
    height:330px;
}
.module5-footer-pattern {
    width: 100%;
    height: 56px;
    position: absolute;
    left: 0;
    top: -42px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module5-footer-pattern.png) no-repeat center top;
}
.module5-footer-content {
    width: 900px;
    margin: 0 auto;
}
.module5-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 50px;
    color: #f7e1bb;
    font-weight: normal;
    clear: both;
    line-height: 30px;
    padding: 35px 0 0 0;
    margin: 0;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module5-titleTxt.png) no-repeat;
    */
}
.module5-titleTxt2 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 50px;
    color: #e9cb99;
    font-weight: normal;
    clear: both;
    line-height: 69px;
    margin:0;
    padding: 0;
    text-align: right;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module5-titleTxt.png) no-repeat;
    */
}
.module5-footer-content p {
    color: #f7e1bb;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px #7f5d21;
    font-family:'neuzeit_groteskregular';
    /*
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform:rotate(-1deg);  
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    */
}
.module5-footer-content span {
    margin: 40px 0 0;
    display: block;
    color: #f7e1bb;
    font-size: 11px;
    line-height: 10px;
}
/*=========== END MODULE 5 ============*/

/*=========== BEGIN MODULE 6 ============*/
 #sec-6 {
    margin:45px 0 0 0;
    position:absolute;
}
.module6-wrap {
    clear: both;
    width: 100%;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module6-bg.jpg) repeat-x center top;
    background-color: #0c2441;
    overflow:hidden;
    position:relative;
    margin:-50px 0 0 0;
    z-index:3;
}
.module6-wrap.french {
    margin:0px 0 0 0;
}
.module6-content {
    width:980px;
    margin: 0 auto;
    height: 750px;
    position: relative;
}
.module6-content.french {
    height:750px;
}
.star-container {
    position:absolute;
    top:50px;
    width:100%;
    height:500px;
    top:-350px;
}
.small-star1, .small-star2 {
    position: absolute;
    left: -330px;
    bottom: 450px;
    z-index: 1;
}
.star1-pos2 {
    bottom: 295px;
    left: -38px;
}
.star1-pos3 {
    bottom: 382px;
    left: -73px;
}
.star1-pos4 {
    left: 624px;
}
.small-star2 {
    left: -90px;
    bottom: 600px;
}
.star2-pos2 {
    bottom: 600px;
    left: 340px;
}
.star2-pos3 {
    bottom: 283px;
    left: 310px;
}
.small-star3 {
    position: absolute;
    right: 280px;
    bottom: 580px;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.small-star4, .small-star5 {
    position: absolute;
    right: 30px;
    bottom: 340px;
    z-index: 1;
}
.small-star4 {
    bottom: 372px;
    right: 33px;
}
.star4-pos2 {
    bottom: 449px;
    right: 143px;
}
.star4-pos3 {
    bottom: 263px;
    right: 101px;
}
.small-star5 {
    right: 592px;
    bottom: 452px;
}
.star5-pos2 {
    right: 410px;
    bottom: 230px;
}
.small-star6 {
    position: absolute;
    left: -15px;
    bottom: 438px;
    z-index: 1;
}
.backCloud {
    position: absolute;
    left: 50%;
    margin-left: -1016px;
    top: 550px;
    width: 2500px;
    height: 590px;
    z-index: 2;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_back-cloud.png) no-repeat;
}
.frontCloud {
    position: absolute;
    left: -220px;
    top:600px;
    width: 1370px;
    height: 600px;
    z-index: 10;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_front-cloud.png) no-repeat;
}
.baby-shadow-cloud {
    width:450px;
    height:260px;
    left:0px;
    top:400px;
    position: absolute;
}
.cloud-baby-container {
    position:absolute;
    width:464px;
    height:276px;
    left:114px;
    top:-400px;
    z-index: 10;
}
.cloud-baby {
    position: absolute;
    top:0;
    left:0;
}
.cloud-baby-shadow {
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.baby-cloud-overlay {
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 12;
    display:none;
}
.cloud-sheep {
    position: absolute;
    right: -550px;
    top: 350px;
    width: 210px;
    height: 170px;
    z-index: 6;
}
.fence {
    position: absolute;
    left: 1113px;
    top: 130px;
    z-index: 7;
}
.big-star1 {
    position: absolute;
    left: 400px;
    top: 200px;
    z-index: 8;
}
.big-star2 {
    position: absolute;
    right: 120px;
    top: 88px;
    z-index: 8;
}
.moon {
    position: absolute;
    left: 45px;
    top: 30px;
    z-index: 9;
}
.container-text-mod6 {
    overflow:hidden;
    width:750px;
    height:150px;
    position:absolute;
    top:600px;
    left:100px;
}
.first-allnightTxt {
    font-size: 10px;
    position: absolute;
    width: 390px;
    height: 100px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/first_year_baby_milestones_all_nighter.png) no-repeat;
    margin: 0;
    padding: 0;
    z-index: 6;
    top:0px;
    left:230px;
}
.module6-footer {
    clear: both;
    width: 100%;
    padding: 20px 0 10px;
    position:absolute;
    top:3866px;
    background-color: #1e88d3;
    z-index: 20;
    height:240px;
}
.module6-footer.french {
    height:280px;
}
.module6-footer-pattern {
    width: 100%;
    height: 117px;
    position: absolute;
    left: 0;
    top: -90px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module6-footer-pattern.png) repeat-x;
}
.module6-footer-content {
    width: 900px;
    margin: 0 auto;
}
.module6-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 60px;
    color: #bcdcf3;
    font-weight: normal;
    text-align: center;
    clear: both;
    line-height: 40px;
    padding: 0 0 15px 0;
    margin: 0;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    letter-spacing: -.02em;
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module6-titleTxt.png) no-repeat;
    */
}
.fr .module6-titleTxt {
    padding: 10px 0;
}
.module6-footer-content p {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px #0a3c5f;
    font-family:'neuzeit_groteskregular';
    /*
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform:rotate(-1deg);  
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); 
    */
}
.module6-footer-content span {
    margin: 40px 0 0;
    display: block;
    color: #bcdcf3;
    font-size: 11px;
    line-height: 14px;
}
.francais .module6-footer-content span {
    margin: 10px 0 0;
}
/*=========== END MODULE 6 ============*/

/*=========== BEGIN MODULE 7 ============*/
 #sec-7 {
    margin:20px 0 0 0;
    position:absolute;
}
.module7-wrap {
    clear: both;
    width: 100%;
    background-color:#9cc8ef;
    overflow:hidden;
    position:relative;
}
.module7-content {
    width:980px;
    margin: 0 auto;
    min-height: 700px;
    position: relative;
}
.module7-wall {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module7-pattern.jpg) repeat-x center -100px;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    left:0;
}
.module7-continous {
    position:absolute;
    width:980px;
    left:50%;
    margin:0 0 0 -490px;
    top:-20px;
    height:500px;
    overflow:visible;
}
.bathup-container {
    position:relative;
    width:100%;
    height:450px;
    top:750px;
    left: 100px;
}
.bath-tub {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 970px;
    height: 520px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_bath-tub.png) no-repeat;
    z-index: 1;
}
.water1, .water2 {
    position: absolute;
    left: 0;
    bottom: 360px;
    width: 900px;
    height: 220px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_water1.png) no-repeat;
    z-index: 2;
}
.water2 {
    left: 5px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_water2.png) no-repeat;
    z-index: 3;
}
.bath-baby-container {
    overflow:hidden;
    width:350px;
    height: 500px;
    right: 205px;
    position:absolute;
    top:-100px;
}
.bath-baby {
    position: absolute;
    top: -500px;
    z-index: 6;
    left: 100px;
}
.water3 {
    position: absolute;
    left: 20px;
    bottom: 385px;
    width: 900px;
    height: 156px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_water3.png) no-repeat;
    z-index: 7;
}
.banner-tag {
    position: absolute;
    right: -1040px;
    top: -20px;
    width: 440px;
    height: 185px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/babys_first_words_mama.png) bottom center no-repeat;
    font-size: 10px;
    text-indent: -99999px;
    z-index: 2;
}
.bird-container {
    position: absolute;
    right: -1040px;
    top: -25px;
    width: 440px;
    height: 190px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/babys_first_words_mama.png) bottom center no-repeat;
    font-size: 10px;
    text-indent: -99999px;
    z-index: 2;
}
.bird1, .bird2 {
    position: absolute;
    width: 150px;
    height: 115px;
    z-index: 3;
}
.bird1 {
    top: 10px;
    left: 0;
}
.bird2 {
    top: 10px;
    right: 0;
    z-index:5;
}
.bird1.show, .bird2.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_bird1.png) bottom center no-repeat;
}
.bird1.hide, .bird2.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_bird2.png) bottom center no-repeat;
}
.blue-shark {
    position: absolute;
    left: 220px;
    width: 80px;
    height: 80px;
    top: -100px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_blue-shark.png) no-repeat;
    z-index: 2;
}
.green-fish {
    position: absolute;
    left: 470px;
    width: 90px;
    height: 80px;
    top: -70px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-fish.png) no-repeat;
    z-index: 2;
}
.crab {
    position: absolute;
    right: 280px;
    width: 120px;
    height: 60px;
    top: -35px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_crab.png) no-repeat;
    z-index: 13;
}
.seashore {
    position: absolute;
    right: 380px;
    width: 60px;
    height: 75px;
    top: -75px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_seashore.png) no-repeat;
    z-index: 6;
}
.tub-lip {
    position: absolute;
    left: 0;
    width: 950px;
    height: 170px;
    bottom: 360px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_tub-lip.png) no-repeat;
    z-index: 14;
}
.megical-containers {
    width:800px;
    height:100px;
    position:absolute;
    top:-30px;
    left:180px;
    z-index:15;
}
.first-magicalTxt {
    text-indent:-9999px;
    font-size: 10px;
    position: absolute;
    left: 170px;
    width: 470px;
    height: 90px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/milestones_for_babies_magical.png) no-repeat;
    margin: 0;
    padding: 0;
    z-index: 15;
    opacity: 0;
}
.bath-mom-container {
    position:absolute;
    width:510px;
    height:790px;
    top:450px;
    left: 125px;
}
.mom-arms {
    position: absolute;
    left: 136px;
    width: 330px;
    height: 350px;
    top: -70px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_mom-arms.png) bottom center no-repeat;
    z-index: 4;
}
.bath-mom {
    position: absolute;
    left: 0px;
    width: 510px;
    height: 790px;
    top: 0;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/baby_first_milestones_mom_bath.png) no-repeat;
    z-index: 16;
}
.module7-footer {
    clear: both;
    width: 100%;
    padding: 10px 0 80px;
    position:absolute;
    top:4600px;
    background-color: #1e88d3;
    z-index: 20;
}
.module7-footer-pattern {
    width: 100%;
    height: 65px;
    position: absolute;
    left: 0;
    top: -50px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module7-footer-pattern.png) repeat-x;
}
.module7-footer-content {
    width: 900px;
    margin: 0 auto;
}
.module7-titleTxt {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 42px;
    text-align: center;
    color: #d4eaf9;
    font-weight: normal;
    clear: both;
    line-height: 42px;
    padding: 20px 0 10px;
    margin: 0;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module7-titleTxt.png) no-repeat;
    */
}
.module7-titleTxt2 {
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 70px;
    color: #b1d8f4;
    font-weight: normal;
    clear: both;
    line-height: 46px;
    padding: 0 0 15px;
    text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
    margin:0;
    letter-spacing: -.02em;
    text-indent: 20px;
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module7-titleTxt.png) no-repeat;
    */
}
.module7-footer-content p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px #0a3c5f;
    font-family:'neuzeit_groteskregular';
    /*
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform:rotate(-1deg);  
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); 
    */
}
/*=========== END MODULE 7 ============*/

/*=========== BEGIN MODULE 8 ============*/
 #sec-8 {
    top:20px;
    position:absolute;
}
#sec-9 {
    top:25px;
    position: relative;
}
#sec-8.french {
    margin:18px 0 0 0;
    position:absolute;
}
.module8-wrap {
    clear: both;
    width: 100%;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module1-pattern.jpg) center top;
    position:relative;
    overflow:hidden;
}
.small-bricks {
    clear: both;
    width: 100%;
    background: #7a2176;
    position:relative;
    overflow:hidden;
    text-align: center;
}
.small-bricks img {
    padding:30px;
}
.module8-content {
    width:980px;
    margin: 0 auto;
    min-height: 520px;
    position: relative;
}
.baby-crib-mod8 {
    top: 40px;
    left: 40px;
    position:absolute;
    z-index:2;
}
.the-baby-mod8 {
    position:absolute;
    left:140px;
    top: -270px;
    z-index:3;
}
.green-butterfly-mod8 {
    position: absolute;
    left: -500px;
    top: 370px;
    width: 150px;
    height: 160px;
    z-index: 6;
}
.green-butterfly-mod8.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-butterfly-hide.png) center center no-repeat;
}
.green-butterfly-mod8.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_green-butterfly-open.png) center center no-repeat;
}
.red-butterfly-mod8 {
    position: absolute;
    left: -500px;
    top: 350px;
    width: 140px;
    height: 130px;
    z-index: 6;
}
.red-butterfly-mod8.hide {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_red-butterfly-mod8-close.png) center center no-repeat;
}
.red-butterfly-mod8.show {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_red-butterfly-mod8.png) center center no-repeat;
}
.module8-content .green-butterfly {
    top: 50px;
    left: 240px;
}
.module8-titleTxt {
    font-size: 10px;
    position: absolute;
    width: 330px;
    height: 156px;
    top: 180px;
    left: 368px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-titleTxt.png) no-repeat;
    opacity:0;
}
.module8-can-container {
    position:absolute;
    width:100%;
    height:100%;
    top:400px;
}
.module8-product-large {
    width: 358px;
    height: 423px;
    position: absolute;
    top: 180px;
    right: 0;
}
.module8-product-real {
    width: 358px;
    height: 423px;
    position: absolute;
    top: 180px;
    right: 0;
    opacity: 0;
}
.module8-bottom {
    clear: both;
    width: 100%;
    padding: 70px 0;
    position: relative;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-bottom-bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #d07ec7;
}
.module8-bottom-content {
    width: 980px;
    margin: 0 auto;
    min-height: 480px;
}
.module8-bottom-img {
    width:728px;
    height:480px;
    position:absolute;
    left:50%;
    top:300px;
    margin:0 0 0 -200px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-product-shadow.png) no-repeat center top;
}
.module8-price-tag, .module8-product-pot, .module8-milk, .module8-book, .module8-bag, .module8-product-packet {
    position: absolute;
    top: 0;
    text-indent: -99999px;
}
.module8-price-tag {
    top: 20px;
    right: 95px;
    z-index: 9;
    width: 119px;
    height: 119px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_price-tag-en.png) no-repeat;
    display:block;
    opacity:1;
}
.francais .module8-price-tag {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_price-tag-fr.png) no-repeat;
}
.module8-product-pot {
    top: 207px;
    right: 102px;
    width: 118px;
    height: 118px;
    z-index: 8;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/good_start_formula.png) no-repeat;
    opacity:0;
}
.module8-milk {
    top: 262px;
    right: 320px;
    z-index: 7;
    width: 45px;
    height: 120px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-milk-bottle.png) no-repeat;
    opacity:0;
}
.module8-book {
    top: 210px;
    right: 100px;
    z-index: 6;
    width: 266px;
    height: 256px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/milestones_for_babies_first_year_chart_book_coupons.png) no-repeat;
    opacity:0;
}
.module8-bag {
    top: 54px;
    right: 75px;
    z-index: 5;
    width: 260px;
    height: 346px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-bag.png) no-repeat;
}
.module8-product-packet {
    top: 181px;
    right: 268px;
    z-index: 4;
    width: 175px;
    height: 165px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_module8-product2.png) no-repeat;
    opacity:0;
}
.module8-bottom-caption {
    float:left;
    width:440px;
    margin-left: 40px;
    padding: 60px 40px 0 0;
    color: #fff;
    font-family:'neuzeit_groteskregular';
}
.nestle-baby-logo {
    clear: both;
    width: 132px;
    height: 40px;
    margin-bottom: 10px;
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_World_of_Firsts_nestle-baby-logo.png) no-repeat;
}
.francais .nestle-baby-logo {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_nestle-baby-logo-fr.png) no-repeat;
}
.module8-bottom-titleTxt {
    width: 800px;
    padding: 0;
    font-family:'SamanthaUprightPRO-Bold';
    font-size: 65px;
    color: #a75d9f;
    font-weight: normal;
    clear: both;
    line-height: 18px;
    margin: 30px 0 35px;
    text-shadow: -1px 2px 5px rgba(255, 255, 255, .25);
    /*
    text-indent: -99999px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/my_baby_first_year_titleTxt.png) no-repeat;
    */
}
.module8-bottom-caption p {
    color: #fff;
    margin: 0 0 20px;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-shadow: 0px 1px 1px #942c89;
}
.module8-bottom-caption .pink-btn {
    float: none;
    clear: both;
    width: 114px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.francais .module8-bottom-caption .pink-btn {
    width: 200px;
}
.module8-bottom-caption span {
    display: block;
    color: #ffedfd;
    font-size: 10px;
    line-height: 12px;
    font-family:'neuzeit_groteskregular';
}
/*=========== END MODULE 8 ============*/

/*=========== BEGIN FOOTER ============*/
 footer {
    width: 100%;
    clear: both;
}
.footer-wrap {
    color: #b1d3f2;
    clear: both;
    width: 980px;
    margin: 0 auto;
    padding: 60px 0 100px;
    overflow: hidden;
    text-align: right;
    font-size: 12px;
}
footer ul {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 20px 0 10px;
    width: 100%;
}
footer li {
    margin: 0;
    padding: 0 0 0 5px;
    display: inline;
}
footer li a {
    margin-right: 6px;
    color: #b1d3f2;
}
.video-page footer li a {
    color: #fff;
}
.video-page .footer-wrap {
    color: #fff;
}
footer p {
    margin: 0;
    padding: 0;
}
.footer-nestle-baby {
    float: right;
}
/*=========== END FOOTER ============*/
 .TMargin30 {
    margin-top: 30px;
}
/***** french *****/
 .francais .module8-book {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_module8-book-coupons-fr.png) no-repeat !important;
}
.francais .welcomeTxt {
    font-size: 10px;
    clear: both;
    width: 408px;
    margin: 0 0 -35px 10px;
    height: 140px;
    text-indent:-99999px;
    position: relative;
    top: -45px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_fr-welcomeTxt-full.png) no-repeat;
}
.francais .purple-ribbon {
    width: 478px;
    height: 80px;
    text-indent: -99999px;
    margin-left: -30px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_fr-purple-ribbon.png) no-repeat;
    position: relative;
    top: -30px;
}
.francais .world-of-firsts {
    width: 430px;
    height: 155px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_fr-world-of-firsts.png) no-repeat;
}
.francais .first-butterflyTxt {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/meilleurs_moments.png) no-repeat;
}
.francais .first-achooTxt {
    width: 370px;
    width: 680px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/premiere_eternuement.png) no-repeat;
}
.francais .module1-caption {
    margin-top:0px;
}
.francais .first-formulaTxt {
    width: 392px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/formula_bebe_goodstart.png) no-repeat;
}
.francais .first-bellyTxt {
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/bebe_qui_rit.png) no-repeat top left;
    width:365px;
}
.francais .first-allnightTxt {
    width: 450px;
    height: 220px;
    left:160px;
    top:25px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/premiers_moments_pour_les_bebes.png) no-repeat;
}
.francais .first-magicalTxt {
    top:10px;
    left:140px;
    width: 500px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/mots_de_bebe_heureux_magical.png) no-repeat;
}
.francais .module8-titleTxt {
    width: 330px;
    background: url(http://media.nestle.ca/bi2/desk/bigidea/images/Goodstart_Monde_de_Premieres_fr-module8-titleTxt.png) no-repeat;
}
.fr-module2-titleTxt {
    font-size: 40px;
}
.fr-module3-titleTxt {
    font-size: 68px;
    line-height: 66px;
    text-align: left;
}
.txt-indent3 {
    text-indent: 267px;
}
.fr-module5-titleTxt {
    text-align: right;
    padding: 0 0 5px;
    margin: -15px 0 0;
}
.francais .module5-titleTxt2 {
    margin: -5px 0 10px 0;
}
.francais .module5-footer-content span {
    margin-top: 20px;
}
.align-right {
    text-align: right;
}
.txt55 {
    font-size: 55px;
}
.txt65 {
    font-size: 65px;
}
.txt70 {
    font-size: 50px;
    margin-top: -30px!important;
    text-align: left;
}
.fr .module8-bottom-caption .pink-btn {
    float: none;
    clear: both;
    width: 194px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.francais .module8-bottom-titleTxt {
    width: auto;
}
/*=========== FIREFOX ============*/
 @-moz-document url-prefix() {
    .module2-titleTxt {
        padding: 0 0 30px;
    }
    .module3-titleTxt2 {
        padding-bottom: 25px;
    }
    .module4-titleTxt {
        padding: 0;
    }
    .module4-titleTxt2 {
        padding-bottom: 35px;
    }
    .module5-titleTxt {
        padding: 10px 0 0;
    }
    .module5-titleTxt2 {
        padding: 0 0 30px;
    }
    .fr .module3-footer-content p {
        margin: 20px 0 0;
    }
    .fr-module5-titleTxt {
        margin:0px;
    }
    .fr .module5-titleTxt2 {
        padding: 0 0 25px;
    }
    .fr .module6-titleTxt {
        padding: 20px 0;
    }
    .module6-titleTxt {
        padding: 0 0 38px;
    }
    /*ww2*/
    .module7-titleTxt {
        padding: 5px 0 20px 0;
    }
    .module7-titleTxt2 {
        padding: 0 0 40px;
    }
    .module8-bottom-titleTxt {
        padding: 0 0 35px;
        margin: -20px 0 0;
    }
    .fr .module8-bottom-titleTxt {
        padding: 0 0 55px;
    }
    .nestle-baby-logo {
        margin-bottom: 30px;
    }
    .module5-footer {
        padding: 0px 0 10px;
        height:350px;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10-specific styles go here */
    .the-baby-mod8 {
        top: -280px;
    }
    .cloud-sheep {
        position: absolute;
        right: -300px;
    }
    .module2-titleTxt {
        margin-bottom: 15px !important;
    }
    .module3-titleTxt2 {
        margin-bottom: 35px !important;
    }
    .module5-titleTxt2 {
        margin-bottom: 15px !important;
    }
    .module6-titleTxt {
        margin-bottom: 15px !important;
    }
    .module7-titleTxt2 {
        margin-bottom: 25px !important;
    }
    .module8-bottom-titleTxt {
        margin-top: -10px !important;
        margin-bottom: 45px !important;
    }
    .module5-titleTxt2 {
        margin-bottom: 25px !important;
    }
    .fr .module5-footer-content span {
        margin-top: 10px;
        position: relative;
    }
    .fr-module2-titleTxt {
        margin-bottom: 15px !important;
    }
    .txt-indent3 {
        margin-top: -10px;
        margin-bottom: 25px !important;
    }
    .fr .module8-bottom-titleTxt {
        padding: 10px 0 0px 0;
    }
    .align-right {
        margin-bottom: 50px !important;
    }
}