------------------------------------*\
   GLOBAL CSS
\*------------------------------------*/
html, body {height:100%;}
img {border:0 none; height:auto; max-width:100%; vertical-align:middle;}

/*------------------------------------*\
   IMPORTED FONTS
\*------------------------------------*/
@font-face {
    font-family: 'Samantha-Upright';
    src: url('fonts/291310_0_0.eot');
    src: url('fonts/291310_0_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/291310_0_0.woff') format('woff'),
         url('fonts/291310_0_0.ttf') format('truetype'),
         url('fonts/291310_0_0.svg#Samantha-Upright') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
   TYPOGRAPHY
\*------------------------------------*/
/*ww1 font important*/
body {text-align:left; font-family:'Montserrat', sans-serif !important;  font-size:100%; line-height:1.125em; font-weight:normal !important;}
p {color:#333; font-size:0.75em; padding:4px 0 4px 0;}
p a {color:#FF6600; text-decoration:none;}
p a:hover {color:#FF6600; text-decoration:underline;}

/*------------------------------------*\
   HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:bold; line-height:1.125em;}

h2.note { font-size:0.75em !important;}

/*------------------------------------*\
   SITE SPECIFIC LAYOUT
\*------------------------------------*/
img.bg {min-height:100%; min-width:1024px; width:100%; height:auto; position:fixed; top:0; left:0; z-index:1;}

/*------------------------------------*\
   PAGE LAYOUT
\*------------------------------------*/
#page {position:relative; width:100%; min-height:100%; height:auto !important; height:100%; margin:0 auto -4em; z-index:100;}

#page #nav {float:left; width:100%; min-height:55px; background:#792075 url("../images/bg-nav.png") repeat-x;}
#page #nav .nav-container {width:960px; margin:0 auto;}
#page #nav .nav-container .nav-content {float:left; width:960px; font-family:Verdana, Geneva, sans-serif;}

#page #search {width:960px; margin:0 auto;}
#page #search input.text {float:right; width:324px; height:16px; margin:8px 60px 0 0; padding:10px; color:#a2a2a2; font-size:0.938em; border:1px solid #9ac5df; background:#f5f9fb url("../images/icon-magnifying-glass.png") center right no-repeat;}

#page .content {position:relative; width:960px; min-height:965px; margin:0px auto;}
#page .content .header {float:left; width:960px; margin-top:16px;}
#page .content .header h1 {margin-bottom:10px;}
/*ww1 important font-weight*/
#page .content .header h2 {float:left; width:844px; margin:0 0 16px 46px; color:#7a2176; font-size:1.000em; font-weight:normal !important; line-height:1.250em;}
#page .content .header h2 span.highlight {color:#3a4b9d; font-weight:bold;}

/*------------------------------------*\
   RIBBON / TINT LAYOUT
\*------------------------------------*/
#page .content .main {position:relative; float:left; width:960px; min-height:1060px;}
#page .content .main .ribbon-left {position:absolute; top:0; left:0; float:left; width:12.5%; height:13.75%; z-index:1;}
#page .content .main .ribbon-right {position:absolute; top:0; right:0; float:right; width:12.5%; height:13.75%; z-index:1;}
#page .content .main .ribbon {position:absolute; top:0; left:0; float:left; width:100%; height:13.75%; z-index:100;}
#page .content .main .ribbon-copy {position:absolute; top:0px; left:0px; float:left; width:100%; z-index:100; text-align:center;}
#page .content .main .ribbon-copy p {padding:2% 0 0 0; font-family:"Samantha-Upright"; color:#3b60af; font-size:2.000em;}
#page .content .main .ribbon-copy span.counter {width:130px; height:39px; padding:12px 0px 10px 4px; color:#393939; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:0.75em; font-weight:bold; letter-spacing:12px; text-align:right; background:url("../images/bg-counter.png") no-repeat;}

#page .content .main .tint {position:absolute; top:20px; left:0px; float:left; width:100%; z-index:10;}

#page .legal {position:relative; float:left; width:100%; padding-bottom:20px;}
#page .legal .legal-container {width:960px; margin:0 auto;}
#page .legal .legal-container  p {color:#7a2176; font-size:0.625em; line-height:1.250em;}
#page .legal .legal-container  p a {color:#7a2176; font-weight:bold; text-decoration:underline;}

/*------------------------------------*\
   THANK YOU LAYOUT
\*------------------------------------*/
body.thank-you #page .content {min-height:700px;}
body.thank-you #page .content .header h1 {padding-bottom:20px;}
body.thank-you #page .content .header h2 {padding-bottom:20px;}
body.thank-you #page .content .ribbon-good-start {float:left; margin-left:90px;}
body.thank-you #page .content .img-good-start {float:left; margin-left:210px; margin-top:40px; margin-bottom:40px;}
body.thank-you #page .content #page .content .legal.thank-you {margin-top:150px;}

/*------------------------------------*\
   FOOTER LAYOUT
\*------------------------------------*/
#footer {position:relative; float:left; width:100%; background-color:#005baa; z-index:100;}
#footer .footer-container {width:960px; margin:0 auto;}
#footer .footer-container .footer-content {float:left; width:960px; padding:50px 0 50px 0; font-family:Verdana, Geneva, sans-serif;}
#footer .footer-container .footer-content .footer-logo {float:left; width:960px; height:32px; margin-bottom:18px; text-align:right;}
/*ww2 deleted width:755px*/
#footer .footer-container .footer-content ul.footer-list {float:right; margin-bottom:10px;}
#footer .footer-container .footer-content ul.footer-list li {float:left; color:#FFF; font-size:0.69em; display:inline;}
#footer .footer-container .footer-content ul.footer-list li a {float:left; padding:0 6px 0 6px; color:#b1d3f2; text-decoration:none;}
#footer .footer-container .footer-content ul.footer-list li a.last {padding:0 0 0 6px;}
#footer .footer-container .footer-content .footer-copyright {float:left; width:960px; color:#b1d3f2; font-size:0.69em; text-align:right;}

/*------------------------------------*\
   MISC.
\*------------------------------------*/
iframe {margin-top:100px !important; z-index:1;}

#push {height:4em; clear:both;}

@media screen and (max-width: 1024px){
  img.bg {left:50%; margin-left:-512px;}
}

/*------------------------------------*\
   EM SCALE
\*------------------------------------*/
/*

0.625em = 10px
0.69em  = 11px
0.75em  = 12px
0.813em = 13px
0.875em = 14px
0.938em = 15px
1.000em = 16px
1.063em = 17px
1.125em = 18px
1.188em = 19px
1.250em = 20px
1.313em = 21px
1.375em = 22px
1.438em = 23px
1.500em = 24px
1.563em = 25px
1.625em = 26px
1.688em = 27px
1.750em = 28px
1.813em = 29px
1.875em = 30px
1.938em = 31px
2.000em = 32px

http://riddle.pl/emcalc/

