/*
	Title:		Good Start
	Date:		October 28, 2013
-------------------------------------	
*/

/*=========== BEGIN COMMON ============*/
html,body { width: 100%; height: 100%;}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, samp, small, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, object, iframe{
	margin:0;
	padding:0;
	border:0;
}
body {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	font-family: Arial;
	background: #005baa;
}
	
.clear:after,
.row:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}

a { 
	text-decoration: none; 
	outline: none;
	/*-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;*/
}
a:hover { text-decoration: underline;}
img { height: auto; max-width: 100%;}
a img {border: 0}
input,select,textarea {outline: none}
input::-moz-focus-inner {border: 0; padding: 0}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, summary, audio, video, details {
	display: block;
}

.pull-right { float: right;}
.pull-left { float: left;}
.pull-center { text-align: center;}
.wrapper {
	clear: both;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}
.row {
	clear: both;
	width: 100%;
}

.purple-btn,
.golden-btn,
.pink-btn {
	float: right;
	height: 28px;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 20px 0;
	text-align: center;
	background: #7a2176;
	margin: 10px 0 0;
	display :block;
	color: #f3cef9;
	position: relative;
	border: 0;
	cursor: pointer;
    font-family: 'montserratregular';
	/*-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;*/
	}
.purple-btn em {
	font-style: normal;
	font-size: 20px;
}
.purple-btn:hover {
	text-decoration: none;
	background: #67156c;
}
.golden-btn,
.pink-btn {
	height: 27px;
	padding: 6px 15px 0;
	background: #a76d0a;
	color: #ffe7b4;
    font-family: 'neuzeit_groteskregular';
}
.golden-btn em,
.pink-btn em {
	font-style: normal;
	font-size: 20px;
}
.golden-btn:hover {
	text-decoration: none;
	background: #7c5006;
}
.pink-btn {
	color: #ffd0fa;
	background: #b062a8;
}
.pink-btn:hover {
	text-decoration: none;
	background: #8b3f83;
}
.container {
	clear: both;
	width: 100%;
	overflow: hidden;
	padding: 90px 0 0;
}
.shadeX,
.topShadeX {
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	height: 8px;
	font-size: 6px;
	line-height: 6px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_shadeX.png) repeat-x 0 0;
}
.topShadeX {
	bottom: auto;
	top: -6px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_top-shadeX.png) repeat-x left bottom;
}
/*=========== END COMMON ============*/


/*=========== BEGIN HEADER ============*/
header {
	width: 100%;
	background-color: #f3cef9;
	z-index: 99;
	clear: both;
	position: fixed;
	left: 0;
	top: 0;
}
.language-bar {
	width: 980px;
	padding: 5px 0;
	margin: 0 auto;
}
.language-bar ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
.language-bar li {
	display: inline;
	margin: 0 0 0 10px;
}
.language-bar li a {
    font-family: 'montserratregular';
	color: #d097da;
}
.language-bar li a:hover {
	color: #ac51bb;
	text-decoration: none;
}
.header-nav {
	clear: both;
	width: 100%;
	height: 65px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_header-navX.jpg) repeat-x;
}	
.header-wrap {
	width: 980px;
	margin: 0px auto;
	position: relative;
	z-index:9;
}
.logo {
	position: absolute;
	left: -27px;
	top: -8px;
}
header nav {
	float: right;
	padding: 24px 0 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
header nav li{
	list-style: none;
	float: left;
	padding: 0 0 0 35px;
}
header nav li a {
	color: #fce5ff;
	font-size: 14px;
    font-family: 'montserratregular';
	text-shadow: 1px 1px 1px #330631;
}
.side-nav {
	position: fixed;
	left: -290px;
	top: 180px;
	z-index: 999;
	width: 328px;
}

.nav-open {
	left: 0;
}
.nav-collapse {
	width: 100%;
	background: #6e1971;
	overflow: hidden;
}


.nav-collapse .icon {
	float: right;
	display: block;
	cursor: pointer;
	width: 39px;
	height: 39px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_side-nav-icon.png) no-repeat center;
	border-left: 2px solid #934892;
}

.side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.side-nav li {
	float: left;
	margin: 0;
	padding: 0;
	border-top: 2px solid #934892;
	width: 100%;
	overflow: hidden;
}

.side-nav li a {
	float: left;
	width: 100%;
	background: #7a2176;
	display: inline-block;
	color: #efbcec;
	overflow: hidden;
	vertical-align: middle;
}
.side-nav li a dfn {
	float: right;
	display: block;
	font-style: normal;
    font-family: 'neuzeit_groteskregular';
	font-size: 14px;
	line-height: 18px;
	padding: 11px 0 9px;
}
.side-nav li a span {
	color: #f3cef9;
	padding: 10px 0 9px;
	margin-left: 10px;
	float: right;
	display: block;
	cursor: pointer;
	font-size: 19px;
	line-height: 19px;
	width: 39px;
	text-align: center;
	border-left: 2px solid #934892;
    font-family: 'montserratregular';
}
.side-nav li a:hover,
.side-nav li.selected a {
	color: #fff;
	text-decoration: none;
	background: #7a1c7f url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_side-nav-hover.jpg) repeat-x left bottom;
}

/*=========== END HEADER ============*/

/*=========== BEGIN MODULE 1 ============*/
.module1-wrap {
	clear: both;
	width: 100%;
	min-height: 630px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module1-pattern.jpg) center top;
}
.module1-content{
	width:990px;
	margin: 0 auto;
	padding: 80px 0 160px;
	position: relative;
}
.baby-crib {
	position: absolute;
	left: -25px;
	top: 70px;
	width: 410px;
	height: 490px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_baby-crib.png) no-repeat;
	z-index: 1;
}
.first-butterflyTxt {
	font-size: 10px;
	position: absolute;
	left: -70px;
	top: 185px;
	width: 260px;
	height: 400px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/meilleurs_moments.png) no-repeat;
	z-index: 2;
}
.the-baby {
	position: absolute;
	left: 80px;
	top: 180px;
	width: 210px;
	height: 290px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/first_smile_newborn.png) no-repeat;
	z-index: 3;
}
.mom-standing {
	position: absolute;
	left: 150px;
	top: 30px;
	width: 240px;
	height: 340px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_stages_mom_standing.png) no-repeat;
	z-index: 4;
}
.green-butterfly {
	position: absolute;
	left: 280px;
	top: 305px;
	width: 150px;
	height: 160px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/green-butterfly.png) no-repeat;
	z-index: 5;
}
.red-butterfly {
	position: absolute;
	left: -70px;
	top: 385px;
	width: 140px;
	height: 130px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_red-butterfly.png) no-repeat;
	z-index: 6;
}
.pink-butterfly {
	
	display: none;
	/*position: absolute;
	left: -40px;
	top: 455px;
	width: 170px;
	height: 170px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_pink-butterfly.png) no-repeat;
	z-index: 7;*/
}

.module1-caption{
	float:right;
	width:450px;
	padding: 20px 0 0;
	margin-top: 10px;
}		
.purple-ribbon {
	width: 478px;
	height: 80px;
	text-indent: -99999px;
	margin-left: -30px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_fr-purple-ribbon.png) no-repeat;
	position: relative;
	top: -30px;
}
.welcomeTxt {
	font-size: 10px;
	clear: both;
	width: 408px;
	margin: 0 0 0 10px;
	height: 177px;
	text-indent: -99999px;
	position: relative;
	top: -20px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_fr-welcomeTxt-full.png) no-repeat;
}
.world-of-firsts {
	float: right;
	width: 420px;
	height: 100px;
	margin: -10px 0 10px;
	text-indent:-99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_fr-welcomeTxt-full.png) no-repeat;
}
.module1-caption p {
	clear: both;
	text-align: right;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #925e9d;
    font-family: 'montserratregular';
/*	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform:rotate(1deg);  
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg); */
}
.content-caption .purple-btn{
	/*-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform:rotate(3deg);  
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg); */
}
/*=========== END MODULE 1 ============*/

.purple-bar {
	min-height: 150px;
	position: relative;
	z-index: 3;
	background: #7a2176 url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_dotted-pattern.jpg) repeat-x 0 0;
}
.scroll-arrow {
	width: 70px;
	height: 80px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_scroll-arrow-fr.png) no-repeat;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 50%;
	top: -24px;
	margin-left: -35px;
	z-index: 9;
}

/*=========== BEGIN MODULE 2 ============*/
.module2-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module2-pattern.jpg) center top;
	background-color: #dcd167;
}
.module2-content{
	width:980px;
	margin: 0 auto;
	min-height: 660px;
	position: relative;
}
.mountain {
	position: absolute;
	left: 72px;
	top: 35px;
	width: 640px;
	height: 340px;
	z-index: 1;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_mountain.png) no-repeat 0 0;
}
.windowFrame {
	position: absolute;
	left: 70px;
	top: 30px;
	width: 670px;
	height: 600px;
	z-index: 2;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_windowFrame.png) no-repeat 0 0;
}
.leftCurtain {
	position: absolute;
	left: -50px;
	top: 0;
	width: 255px;
	height: 600px;
	z-index: 3;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_left-curtain.png) no-repeat 0 -50px;
}
.rightCurtain {
	position: absolute;
	right: 160px;
	top: 0;
	width: 220px;
	height: 620px;
	z-index: 4;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_right-curtain.png) no-repeat 0 -50px;
}
.mom-mod2 {
	position: absolute;
	left: -50px;
	top: 50px;
	width: 450px;
	height: 860px;
	z-index: 5;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_mom-module2.png) no-repeat 0 0;
}
.baby-masked {
	position: absolute;
	left: -50px;
	top: 255px;
	width: 400px;
	height: 330px;
	z-index: 6;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/babys_first_smile.png) no-repeat 0 0;
}
.man-mod2 {
	position: absolute;
	right: 135px;
	top: 50px;
	width: 330px;
	height: 470px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_year_development_doctor.png) no-repeat 0 0;
}
.milk-bottle {
	position: absolute;
	right: 130px;
	top: 250px;
	width: 50px;
	height: 140px;
	z-index: 8;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_milk-bottle.png) no-repeat 0 0;
}

.counter {
	position: absolute;
	left: 430px;
	top: 390px;
	width: 1220px;
	height: 480px;
	z-index: 9;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_counter.png) no-repeat 0 0;
}

.cereal {
	position: absolute;
	right: 200px;
	top: 340px;
	width: 110px;
	height: 120px;
	z-index: 10;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cereal.png) no-repeat 0 0;
}

.first-formulaTxt {
	font-size: 10px;
	position: absolute;
	right: 65px;
	top: 480px;
	width: 450px;
	height: 55px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/formula_bebe_goodstart.png) no-repeat;
	margin: 0;
	padding: 0;
	z-index: 11;
}

.module2-footer {
	clear: both;
	width: 100%;
	padding: 70px 0;
	position: relative;
	background: #50929a;
	z-index: 20;
}
.module2-footer-curve {
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;
	top: -68px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module2-footer-curve.png) no-repeat center top;
}
.module2-footer-content {
	width: 980px;
	margin: 0 auto;
}
.module2-titleTxt {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 64px;
	color: #b4e4e9;
	font-weight: normal;
	clear: both;
	line-height: 44px;
	padding: 0 0 15px;
	margin: 0;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
	letter-spacing: .01em;
}
.module2-footer-content p {
	color: #bbedf3;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px #0d3e44;	
    font-family: 'neuzeit_groteskregular';
	/*-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform:rotate(-1deg);  
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg); */
}
/*=========== END MODULE 2 ============*/

/*=========== BEGIN MODULE 3 ============*/
.module3-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module3-pattern.jpg) center top;
}
.module3-content{
	width:980px;
	margin: 0 auto;
	min-height: 710px;
	position: relative;
}
.backhill {
	position: absolute;
	right: -800px;
	bottom: -330px;
	width: 1460px;
	height: 680px;
	z-index: 1;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_backhill.png) no-repeat;
}
.fronthill {
	position: absolute;
	left: -810px;
	bottom: -350px;
	width: 1780px;
	height: 760px;
	z-index: 3;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_fronthill.png) no-repeat;
}
.cloud1-mod3 {
	position: absolute;
	left: -300px;
	top: 80px;
	width: 250px;
	height: 150px;
	z-index: 4;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cloud1-mod3.png) no-repeat;
}
.cloud4-mod3 {
	top: 160px;
	left: 200px;
}
.cloud5-mod3 {
	top: 50px;
	left: auto;
	right: -160px;
}
.cloud2-mod3 {
	position: absolute;
	left: 220px;
	top: -60px;
	width: 500px;
	height: 320px;
	z-index: 4;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cloud2-mod3.png) no-repeat;
}
.cloud3-mod3 {
	position: absolute;
	right: 185px;
	top: 110px;
	width: 230px;
	height: 150px;
	z-index: 4;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cloud3-mod3.png) no-repeat;
}
.tree {
	position: absolute;
	right: -20px;
	bottom: 300px;
	width: 280px;
	height: 410px;
	z-index: 5;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_tree.png) no-repeat;
}
.bird-mod3 {
	position: absolute;
	left: 350px;
	top: 70px;
	width: 100px;
	height: 80px;
	z-index: 6;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bird-mod3.png) no-repeat;
}
.sun {
	position: absolute;
	left: -100px;
	top: -50px;
	width: 290px;
	height: 300px;
	z-index: 6;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_sun.png) no-repeat;
}
.cow {
	position: absolute;
	right: 115px;
	bottom: 280px;
	width: 220px;
	height: 140px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cow.png) no-repeat;
}
.flower1 {
	position: absolute;
	right: 33px;
	bottom: 210px;
	width: 55px;
	height: 180px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_flower1.png) no-repeat;
}
.flower2 {
	position: absolute;
	right: -20px;
	bottom: 140px;
	width: 105px;
	height: 180px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_flower2.png) no-repeat;
}
.flower3 {
	position: absolute;
	right: 250px;
	bottom: 30px;
	width: 130px;
	height: 160px;
	z-index: 9;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_flower3.png) no-repeat;
}
.flower4 {
	position: absolute;
	left: -40px;
	bottom: 300px;
	width: 80px;
	height: 130px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_flower4.png) no-repeat;
}
.bush {
	position: absolute;
	right: 300px;
	bottom: 80px;
	width: 190px;
	height: 180px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bush.png) no-repeat;
}
.bush2 {
	position: absolute;
	right: 260px;
	bottom: 30px;
	width: 210px;
	height: 200px;
	z-index: 8;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bush2.png) no-repeat;
}
.blanket {
	position: absolute;
	left: 120px;
	bottom: -50px;
	width: 310px;
	height: 450px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_blanket.png) no-repeat;
}
.baby-mod3 {
	position: absolute;
	left: 150px;
	bottom: -20px;
	width: 260px;
	height: 430px;
	z-index: 8;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_stand.png) no-repeat;
}
.bunny {
	position: absolute;
	left: -25px;
	bottom: 120px;
	width: 130px;
	height: 140px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bunny.png) no-repeat;
}

.first-achooTxt {
	font-size: 10px;
	position: absolute;
	right: 220px;
	top: 315px;
	width: 370px;
	height: 260px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/premiere_eternuement.png) no-repeat;
	margin: 0;
	padding: 0;
z-index: 2;
}
.module3-footer {
	clear: both;
	width: 100%;
	padding: 40px 0 10px;
	position: relative;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module3-footer-bg.png) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #508b3b;
	z-index: 20;
}
.module3-grass {
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	top: -80px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module3-grass.png) repeat-x;
}
.module3-footer-content {
	width: 980px;
	margin: 0 auto;
}
.module3-titleTxt {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 68px;
	line-height: 66px;
	text-align: left;
	color: #c2e5b5;
	font-weight: normal;
	clear: both;
	margin: 0;
	padding: 0;

	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
}
.module3-titleTxt2 {
	margin: 0;
	font-size: 68px;
	text-align: right;
	margin-right: 20px;

}
.module3-footer-content p {
	color: #ddffd1;
	font-size: 18px;
	line-height: 22px;
	margin: 15px 0 0;
	padding: 0;
	text-shadow: 1px 1px 2px #123505;
	font-family: 'neuzeit_groteskregular';
	width: 1000px;
	/*-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform:rotate(-1deg);  
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);*/ 
}
.module3-footer-content span {
	margin: 70px 0 0;
	display: block;
	color: #81a277;
	font-size: 8px;
	line-height: 10px;
}
/*=========== END MODULE 3 ============*/

.move-cap-up {
	margin-top: -60px;
	position: relative;
}

/*=========== BEGIN MODULE 4 ============*/
.module4-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module4-bg.png) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ca7f06;
}
.module4-content{
	width:960px;
	margin: 0 auto;
	position: relative;
	padding:185px 0 165px;
	position:relative;
}
.slide-wrap{
	clear:both;
	width:960px;
	min-height:260px;
}	
.slide-content{
	float:left;
	width:960px;
}
.slide-img{
	float:left;
	width:400px;
	position: relative;
	padding-right: 30px;
	min-height: 100px;
	}
.slide-img img{
	position: absolute;
	right: 0;
	top: 0;
	max-width:none;
	}	
.slide-caption{
	float:right;
	width:460px;
	padding-right: 40px;
	color: #fff;
    font-family: 'neuzeit_groteskregular';
	}		
.module4-titleTxt {
	font-size: 10px;
	width: 380px;
	clear: both;
	height: 50px;
	margin: 0 0 5px;
	padding: 0;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module4-titleTxt.png) no-repeat;
}
.slide-caption h2{
	color: #fff0dd;
	margin: 0 0 10px;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption h5{
	color: #fff0dd;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: 0px 1px 1px #a36d17;
}

	

.slide-caption p{
	color: #fff0dd;
	margin: 10px 0 20px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	text-shadow: 0px 1px 1px #a36d17;
}
.slide-caption .golden-btn {
	float: none;
	clear: both;
	width: 114px;
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.slide-caption span {
	display: block;
	color: #f9debb;
	font-size: 10px;
	line-height: 12px;
    font-family: 'neuzeit_groteskregular';
}
.slide-arrow a{
	position:absolute;
	top:260px;
	width:80px;
	height:80px;
	display:block;
	font-size:10px;
	z-index:9;
	text-indent:-99999px;
	}
.slide-arrow .prev{
	left:-80px;	
	background:url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_slide-arrow-prev.png) no-repeat;
	}					
.slide-arrow .next{
	right:-80px;
	background:url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_slide-arrow-next.png) no-repeat;
	}					

/*=========== END MODULE 4 ============*/

/*=========== BEGIN MODULE 5 ============*/
.module5-wrap {
	clear: both;
	width: 100%;
	border-top: 1px solid #955b1d;
	position: relative;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module5-bg.jpg) no-repeat center top;
}
.module5-content-overlay {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module5-content.jpg) no-repeat center -150px;
}
.module5-content{
	width:980px;
	margin: 0 auto;
	min-height: 750px;
	position: relative;
}
.stage {
	position: absolute;
	left: -50px;
	top: 200px;
	width: 760px;
	height: 530px;
	z-index: 1;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/1st_steps_baby_stage.png) no-repeat;
}

.stair {
	position: absolute;
	left: -20px;
	top: 510px;
	width: 420px;
	height: 320px;
	z-index: 2;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_step_stairs.png) no-repeat;
}
.left-curtain-mod5 {
	position: absolute;
	left: -300px;
	top: 0;
	width: 500px;
	height: 895px;
	z-index: 3;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_left-curtain-mod5.png) no-repeat;
}
.right-curtain-mod5 {
	position: absolute;
	left: 550px;
	top: 0;
	width: 220px;
	height: 400px;
	z-index: 4;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_right-curtain-mod5.png) no-repeat 0 -50px;
}

.first-bellyTxt {
	font-size: 10px;
	position: absolute;
	left: 265px;
	top: 310px;
	width: 350px;
	height: 230px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/bebe_qui_rit.png) no-repeat;
	margin: 0;
	padding: 0;
	z-index: 5;	
}
.mom-mod5 {
	position: absolute;
	left: 130px;
	top: 60px;
	width: 330px;
	height: 400px;
	z-index: 5;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_look_mom_puppets.png) no-repeat;
}
.baby-seat1,
.baby-seat2 {
	position: absolute;
	right: -100px;
	top: 360px;
	width: 600px;
	height: 500px;
	z-index: 6;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_baby-seat1.png) no-repeat;
}
.baby-seat2 {
	top: 450px;
	right: -380px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_baby-seat2.png) no-repeat;
}
.baby-seat3 {
	position: absolute;
	right: -690px;
	top: 450px;
	width: 600px;
	height: 500px;
	z-index: 6;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_baby-seat3.png) no-repeat;
}
.baby-mod5 {
	position: absolute;
	right: 100px;
	top: 300px;
	width: 240px;
	height: 320px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_smile.png) no-repeat;
}
.light1 {
	position: absolute;
	right: 90px;
	top: 40px;
	width: 150px;
	height: 150px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_light1.png) no-repeat;
}
.light2 {
	position: absolute;
	right: -100px;
	top: 40px;
	width: 180px;
	height: 180px;
	z-index: 7;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_light2.png) no-repeat;
}
.module5-footer {
	z-index: 31;
	clear: both;
	width: 100%;
	padding: 40px 0 10px;
	position: relative;
	background-color: #d89f3e;
}
.module5-footer-pattern {
	width: 100%;
	height: 56px;
	position: absolute;
	left: 0;
	top: -54px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module5-footer-pattern.png) no-repeat center top;
}
.module5-footer-content {
	width: 980px;
	margin: 0 auto;
}
.module5-titleTxt {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 52px;
	color: #f7e1bb;
	font-weight: normal;
	clear: both;
	line-height: 42px;
	padding: 15px 0;
	margin: 0;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
}

.fr-module5-titleTxt {
text-align: right;
padding: 0 0 5px;
margin: -15px 0 0;
}



.module5-titleTxt2 {
	font-family: 'SamanthaUprightPRO-Bold';
	margin: -5px 0 10px 0;
	font-size: 70px;
	color: #e9cb99;
	font-weight: normal;
	clear: both;
	line-height: 69px;
	margin: 0;
	padding: 0;
	text-align: right;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
}

	

.module5-footer-content p {
	color: #f7e1bb;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px #7f5d21;
	font-family: 'neuzeit_groteskregular';
	/*-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform:rotate(-1deg);  
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);*/ 
}
.module5-footer-content span {
	margin: 40px 0 0;
	display: block;
	color: #f7e1bb;
	font-size: 11px;
	line-height: 10px;
}
/*=========== END MODULE 5 ============*/

/*=========== BEGIN MODULE 6 ============*/

.module6-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module6-bg.jpg) no-repeat center top;
	background-color: #0c2441;
}
.module6-content{
	width:980px;
	margin: 0 auto;
	min-height: 700px;
	position: relative;
}
.small-star1,
.small-star2 {
	position: absolute;
	left: -330px;
	bottom: 450px;
	width: 50px;
	height: 50px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star1.png) no-repeat;
	z-index: 1;
}
.star1-pos2 {
	bottom: 270px;
	left: -200px;
}

.star1-pos3 {
	bottom: 360px;
	left: -120px;
}
.star1-pos4 {
	bottom: 640px;
	left: 520px;
}

.small-star2 {
	left: -90px;
	bottom: 600px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star2.png) no-repeat;
}
.star2-pos2 {
	bottom: 600px;
	left: 340px;
}
.star2-pos3 {
	bottom: 330px;
	left: 330px;
}

.small-star3 {
	position: absolute;
	right: 280px;
	bottom: 580px;
	width: 40px;
	height: 40px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star3.png) no-repeat;
	z-index: 1;
}
.small-star4,
.small-star5 {
	position: absolute;
	right: 30px;
	bottom: 340px;
	width: 37px;
	height: 37px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star4.png) no-repeat;
	z-index: 1;
}
.star4-pos2 {
	bottom: 300px;
	right: -160px;
}
.star4-pos3 {
	bottom: 520px;
	right: -50px;
}

.small-star5 {
	right: 350px;
	bottom: 320px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star5.png) no-repeat;
}
.star5-pos2 {
	right: 410px;
	bottom: 230px;
}

.small-star6 {
	position: absolute;
	left: -170px;
	bottom: 550px;
	width: 23px;
	height: 23px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_small-star6.png) no-repeat;
	z-index: 1;
}
.backCloud {
	position: absolute;
	left: 50%;
	margin-left: -1250px;
	bottom: -220px;
	width: 2500px;
	height: 590px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_back-cloud.png) no-repeat;
	z-index: 2;
}
.frontCloud {
	position: absolute;
	left: -450px;
	bottom: -180px;
	width: 1370px;
	height: 600px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_front-cloud.png) no-repeat;
	z-index: 3;
}

.cloud-baby {
	position: absolute;
	left: 38px;
	bottom: 100px;
	width: 450px;
	height: 260px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_year_milestones_cloud_sleeping.png) no-repeat;
	z-index: 5;
}

.baby-cloud-overlay {
	position: absolute;
	left: 40px;
	bottom: 85px;
	width: 450px;
	height: 260px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_baby-cloud-overlay.png) no-repeat;
	z-index: 6;
}

.cloud-cat {
	position: absolute;
	right: 70px;
	bottom: 205px;
	width: 210px;
	height: 170px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_cat.png) no-repeat;
	z-index: 6;
}
.fence {
	position: absolute;
	right: 30px;
	bottom: 80px;
	width: 340px;
	height: 150px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_fence.png) no-repeat;
	z-index: 7;
}
.big-star1 {
	position: absolute;
	left: 400px;
	bottom: 270px;
	width: 170px;
	height: 200px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_big-star1.png) no-repeat;
	z-index: 8;	
}
.big-star2 {
	position: absolute;
	right: 45px;
	bottom: 370px;
	width: 180px;
	height: 190px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_big-star2.png) no-repeat;
	z-index: 8;	
}

.moon {
	position: absolute;
	left: 0;
	bottom: 400px;
	width: 290px;
	height: 280px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_moon.png) no-repeat;
	z-index: 9;
}

.first-allnightTxt {
	width: 460px;
	height: 220px;
	left: 295px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/premiers_moments_pour_les_bebes.png) no-repeat;
	font-size: 10px;
	position: absolute;
	text-indent: -99999px;
	margin: 0;
	padding: 0;
	z-index: 6;
	top: 128px;


}
.module6-footer {
	clear: both;
	width: 100%;
	padding: 30px 0 10px;
	position: relative;
	background-color: #1e88d3;
	z-index: 20;
}
.module6-footer-pattern {
	width: 100%;
	height: 117px;
	position: absolute;
	left: 0;
	top: -117px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module6-footer-pattern.png) repeat-x;
}
.module6-footer-content {
	width: 980px;
	margin: 0 auto;
}
.module6-titleTxt {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 69px;
	color: #bcdcf3;
	font-weight: normal;
	clear: both;
	line-height: 49px;
	padding: 15px 0;
	margin: 0;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
	letter-spacing: -.02em;
}
.module6-footer-content p {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px #0a3c5f;	
    font-family: 'neuzeit_groteskregular';
	/*-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform:rotate(-1deg);  
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg); */
}
.module6-footer-content span {
	margin: 80px 0 0;
	display: block;
	color: #bcdcf3;
	font-size: 8px;
	line-height: 10px;
}
/*=========== END MODULE 6 ============*/

/*=========== BEGIN MODULE 7 ============*/

.module7-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module7-pattern.jpg) repeat-x center top;
	background-color:#9cc8ef;
}
.module7-content{
	width:980px;
	margin: 0 auto;
	min-height: 830px;
	position: relative;
}
.bath-tub {
	position: absolute;
	left: 0;
	bottom: 70px;
	width: 970px;
	height: 520px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bath-tub.png) no-repeat;
	z-index: 1;
}
.water1,
.water2 {
	position: absolute;
	left: 0;
	bottom: 360px;
	width: 880px;
	height: 220px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_water1.png) no-repeat;
	z-index: 2;
}
.water2 {
	left: 5px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_water2.png) no-repeat;
	z-index: 3;
}
.mom-arms{
	position: absolute;
	left: 212px;
	width: 330px;
	height: 130px;
	bottom: 440px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_mom-arms.png) no-repeat;
	z-index: 4;
}
.banner-tag {
	position: absolute;
	left: 220px;
	bottom: 640px;
	width: 440px;
	height: 120px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/babys_first_words_mama.png) no-repeat;
	font-size: 10px;
	text-indent: -99999px;
	z-index: 5;
}

.bath-baby {
	position: absolute;
	right: 205px;
	width: 220px;
	height: 240px;
	bottom: 470px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/first_sit_up_bath.png) no-repeat;
	z-index: 6;
}
.seashore{
	position: absolute;
	right: 380px;
	width: 60px;
	height: 75px;
	bottom: 475px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_seashore.png) no-repeat;
	z-index: 6;
}

.water3 {
	position: absolute;
	left: 20px;
	bottom: 385px;
	width: 880px;
	height: 156px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_water3.png) no-repeat;
	z-index: 7;
}

.bird1 {
	position: absolute;
	left: 145px;
	bottom: 720px;
	width: 150px;
	height: 150px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bird1.png) no-repeat;
	z-index: 8;
}
.bird2 {
	position: absolute;
	left: 570px;
	bottom: 715px;
	width: 150px;
	height: 102px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_bird2.png) no-repeat;
	z-index: 9;
}
 
.blue-shark{
	position: absolute;
	left: 290px;
	width: 80px;
	height: 80px;
	bottom: 530px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_blue-shark.png) no-repeat;
	z-index: 10;
}

.green-fish{
	position: absolute;
	left: 485px;
	width: 90px;
	height: 80px;
	bottom: 530px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_green-fish.png) no-repeat;
	z-index: 11;
}


.crab{
	position: absolute;
	right: 110px;
	width: 120px;
	height: 60px;
	bottom: 440px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_crab.png) no-repeat;
	z-index: 13;
}

.tub-lip{
	position: absolute;
	left: 0;
	width: 950px;
	height: 170px;
	bottom: 360px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_tub-lip.png) no-repeat;
	z-index: 14;
}

.first-magicalTxt {
	font-size: 10px;
	text-indent: -99999px;
	position: absolute;
	right: 80px;
	bottom: 375px;
	width: 500px;
	height: 90px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/mots_de_bebe_heureux_magical.png) no-repeat;
	margin: 0;
	padding: 0;
	z-index: 15;
}
.bath-mom{
	position: absolute;
	left: 0;
	width: 510px;
	height: 790px;
	bottom: 0;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/baby_first_milestones_mom_bath.png) no-repeat;
	z-index: 16;
}

.module7-footer {
	clear: both;
	width: 100%;
	padding: 50px 0 80px;
	position: relative;
	background-color: #1e88d3;
	z-index: 20;
}
.module7-footer-pattern {
	width: 100%;
	height: 65px;
	position: absolute;
	left: 0;
	top: -63px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module7-footer-pattern.png) repeat-x;
}
.module7-footer-content {
	width: 980px;
	margin: 0 auto;
}
.module7-titleTxt {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 52px;
	color: #d4eaf9;
	font-weight: normal;
	clear: both;
	line-height: 42px;
	padding: 20px 0 10px;
	margin: 0;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
}

.module7-titleTxt2 {
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 70px;
	color: #b1d8f4;
	font-weight: normal;
	clear: both;
	line-height: 46px;
	padding: 0 0 15px;
	text-shadow: -1px 2px 5px rgba(7, 7, 7, .44);
	margin: 0;
	letter-spacing: -.02em;
	text-indent: 20px;
}

.module7-footer-content p {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px #0a3c5f;	
    font-family: 'neuzeit_groteskregular';
	/*-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform:rotate(-1deg);  
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg); */
}
/*=========== END MODULE 7 ============*/

/*=========== BEGIN MODULE 8 ============*/
.module8-wrap {
	clear: both;
	width: 100%;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module1-pattern.jpg) center top;
}
.module8-content{
	width:980px;
	margin: 0 auto;
	min-height: 520px;
	position: relative;
}
.module8-content .baby-crib{
	top: 20px;
}
.module8-content .the-baby {
	top: 130px;
}
.red-butterfly-mod8 {
	position: absolute;
	left: 320px;
	top: 335px;
	width: 140px;
	height: 140px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_red-butterfly-mod8.png) no-repeat;
	z-index: 6;
}
.module8-content .green-butterfly {
	top: 50px;
	left: 240px;
}
.module8-titleTxt {
	font-size: 10px;
	position: absolute;
	width: 330px;
	height: 135px;
	top: 200px;
	left: 330px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_fr-module8-titleTxt.png) no-repeat;
}
.module8-product-large {
	width: 358px;
	height: 423px;
	position: absolute;
	top: 180px;
	right: 0;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_module8-product1-real-fr.png) no-repeat;
	
}

.module8-bottom {
	clear: both;
	width: 100%;
	padding: 70px 0;
	position: relative;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module8-bottom-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #d07ec7;
}
.module8-bottom-content {
	width: 980px;
	margin: 0 auto;
	min-height: 480px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module8-product-shadow.png) no-repeat right top;
}
.module8-bottom-img{
	float:right;
	width:400px;
	position: relative;
	padding-left: 30px;
	min-height: 100px;
	}
.module8-price-tag,
.module8-product-pot,
.module8-milk,
.module8-book,
.module8-bag,
.module8-product-packet {
	position: absolute;
	top: 0;
	text-indent: -99999px;
}
.module8-price-tag {
	top: 20px;
	right: 50px;
	z-index: 9;
	width: 119px;
	height: 119px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_price-tag-fr.png) no-repeat;
}
.module8-product-pot {
	top: 265px;
	right: 70px;
	width: 95px;
	height: 118px;
	z-index: 8;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/good_start_formula.png) no-repeat;
}
.module8-milk {
	top: 262px;
	right: 320px;
	z-index: 7;
	width: 45px;
	height: 120px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module8-milk-bottle.png) no-repeat;
}
.module8-book {
	top: 230px;
	right: 100px;
	z-index: 6;
	width: 266px;
	height: 256px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_module8-book-coupons-fr.png) no-repeat;
}
.module8-bag {
	top: 54px;
	right: 75px;
	z-index: 5;
	width: 260px;
	height: 346px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module8-bag.png) no-repeat;
}
.module8-product-packet {
	top: 197px;
	right: 252px;
	z-index: 4;
	width: 164px;
	height: 144px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_World_of_Firsts_module8-product2.png) no-repeat;	
}
.module8-bottom-caption{
	float:left;
	width:480px;
	padding: 90px 40px 0 0;
	color: #fff;
    font-family: 'neuzeit_groteskregular';
	}
.nestle-baby-logo {
	clear: both;
	width: 132px;
	height: 40px;
	margin-bottom: 10px;
	text-indent: -99999px;
	background: url(http://clients/rivet/nestlegsparallax/bigidea/images/Goodstart_Monde_de_Premieres_nestle-baby-logo-fr.png) no-repeat;
}			
.module8-bottom-titleTxt {
	width: 800px;
	padding: 0;
	font-family: 'SamanthaUprightPRO-Bold';
	font-size: 74px;
	color: #a75d9f;
	font-weight: normal;
	clear: both;
	line-height: 18px;
	margin: 30px 0 35px;
	text-shadow: -1px 2px 5px rgba(255, 255, 255, .25);
}

.module8-bottom-caption p{
	color: #fff;
	margin: 0 0 20px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-shadow: 0px 1px 1px #942c89;
}
.module8-bottom-caption .pink-btn {
float: none;
clear: both;
width: 194px;
margin-bottom: 20px;
padding-left: 0;
padding-right: 0;
}
.module8-bottom-caption span {
	display: block;
	color: #ffedfd;
	font-size: 10px;
	line-height: 12px;
    font-family: 'neuzeit_groteskregular';
}

/*=========== END MODULE 8 ============*/

/*=========== BEGIN FOOTER ============*/

footer {
	width: 100%;
	clear: both;
}

.footer-wrap {
	color: #b1d3f2;
	clear: both;
	width: 980px;
	margin: 0 auto;
	padding: 60px 0 100px;
	overflow: hidden;
	text-align: right;
	font-size: 12px;
}
footer ul {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 20px 0 10px;
	width: 100%;
	}
footer li {
	margin: 0;
	padding: 0 0 0 5px;
	display: inline;
	}

footer li a {
	margin-right: 6px;
	color: #b1d3f2;
	}
footer p {
	margin: 0;
	padding: 0;
}	
.footer-nestle-baby {
	float: right;	
	}
/*=========== END FOOTER ============*/
.TMargin30 {
	margin-top: 30px;
}