
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tegak_bersambung_iwkregular';
    src: url('../fonts/tegak_bersambung_iwk-webfont.eot');
    src: url('../fonts/tegak_bersambung_iwk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tegak_bersambung_iwk-webfont.woff') format('woff'),
         url('../fonts/tegak_bersambung_iwk-webfont.ttf') format('truetype'),
         url('../fonts/tegak_bersambung_iwk-webfont.svg#tegak_bersambung_iwkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit_groteskregular';
    src: url('../fonts/neuzeitgro-reg-webfont.eot');
    src: url('../fonts/neuzeitgro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuzeitgro-reg-webfont.woff') format('woff'),
         url('../fonts/neuzeitgro-reg-webfont.ttf') format('truetype'),
         url('../fonts/neuzeitgro-reg-webfont.svg#neuzeit_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}